@using Entities.Models;
@model IEnumerable<Inventory>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@item.ProductName</td>
            <td>@item.VariantTitle</td>
            <td class="text-right">@item.Qty</td>
            <td>@item.Remark</td>
        </tr>
    }
}