@using Entities.Models;
@model IEnumerable<InitiatePayment>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>
                @counter
                <div class="btn-group dropup cus-counter-cs">
                    <a href="#" id="act_1" class="btn btn-outline-dark btn-block dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expaned="false"></a>
                    <div class="dropdown-menu" aria-labelledby="act">
                        <h6 class="dropdown-header">Action Menu</h6>
                        @if (item.Status == "F")
                        {
                            <span data-t-id="@item.TID" data-item-status="S" class="dropdown-item btnStatusChange">SUCCESS</span>
                        }
                        else if (item.Status == "P")
                        {
                            <span data-t-id="@item.TID" data-item-status="S" class="dropdown-item btnStatusChange">SUCCESS</span>
                            <span data-t-id="@item.TID" data-item-status="F" class="dropdown-item btnStatusChange">FAIL</span>
                            <span data-t-id="@item.TID" data-item-status="P" class="dropdown-item btnStatusChange">STATUS CHECK</span>
                        }
                    </div>
                </div>
            </td>
            <td>@item.PGID</td>
            <td><span class="d-block">@item.Name</span><small>[@item.PhoneNumber]</small></td>
            <td class="text-right">@item.Amount</td>

            <td class="text-nowrap">
                <span data-item-id="@item.TID" class="fa fa-info-circle text-info a_modal" onclick="transactionDialog(this)" style="cursor:pointer" aria-hidden="true"></span>
                &nbsp;@item.TID
            </td>


            <td class="align-middle">
                @if (item.Status == "S")
                {
                    <span class="badge badge-success">Success</span>
                }
                else if (item.Status == "P")
                {
                    <span class="badge badge-secondary">Pendding</span>
                }
                else
                {
                    <span class="badge badge-danger">Failed</span>
                }
            </td>
            <td class="align-middle">@item.UTR</td>
            <td class="align-middle text-nowrap">@item.EntryOn</td>
            <td class="align-middle text-nowrap">@item.ModifyOn</td>
        </tr>
    }
}
<script>
    $('.btnStatusChange').unbind().click(e => {
        let data = $(e.currentTarget).data();
        console.log(data);
        let param = {
            TID: data.tId,
            Status: data.itemStatus
        };
        if (param.Status == 'F') {
            Q.confirm("Are You Sure. You Want To Fail This Payment", () => ChangePaymentStatuc(param))
        }
        else if (param.Status == 'P') {
            PaymentStatuscheck(param);
        }
        else {
            Q.confirm("Are You Sure. You Want To Success This Payment", () => ChangePaymentStatuc(param))
        }
    });
    var ChangePaymentStatuc = (params) => {
        $.post('/Report/UpdateTransactionStatus', params)
            .done(result => {
                Q.notify(result.statusCode, result.responseText);
                loadData();
            }).fail(xhr => Q.notify(-1, xhr.responseText))
    }
    var PaymentStatuscheck = (params) => {
        $.post('/Report/TransactionStatuscheck', params)
            .done(result => {
                Q.notify(result.statusCode, result.responseText);
                loadData();
            }).fail(xhr => Q.notify(-1, xhr.responseText))
    }

    function transactionDialog(element) {
        var tid = $(element).data('item-id');
        console.log("TID:", tid);
        $.post('/Report/GetTransactionReqRes', { TID: tid })
            .done(result => {
                console.log(result);
                Q.alert({
                    title: 'Payment Initiate',
                    body: result,
                    width: 800
                });
            })
            .fail(xhr => {
                console.error("Error:", xhr.responseText);
            });

    }
</script>