@using Entities.Models;
@model IEnumerable<UserWalletledger>

    
@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.TID </td>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
             <td>
                @if (item.TrType == "C")
                {
                    <span class="text-success">Cr</span>
                }
                else if (item.TrType == "D")
                {
                    <span class="text-danger">Dr</span>
                }
                else
                {
                    @item.TrType
                }
            </td>
            <td>@item.ServiceName</td>
            <td class="text-right">₹@item.Opening</td>
            <td  class="text-right">₹@item.Amount</td>
            <td  class="text-right">₹@item.Closing</td>
           <td>@item.EntryOn.ToString("dd MMM yyyy HH:mm")</td>

        </tr>
    }
}
else
{
    <tr>
        <td colspan="10"><center>No Data Found</center></td>
    </tr>
}

