@using Entities.Enums;
@using Entities.Models;
@model IEnumerable<OrderDetailsColumn>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        string badge = "";
        badge = item.StatusID == StatusType.OrderPlaced ? "badge-warning" : item.StatusID == StatusType.Cancel ? "badge-danger" : item.StatusID == StatusType.Confirmed ? "badge-success" : item.StatusID == StatusType.Delivered ? "badge-info" : "badge-dark";
        counter++;
        <tr>
            <td>@counter</td>
            <td class="align-middle">
                <div class="btn-group dropup">
                    <a href="#" id="act_@counter" class="btn btn-outline-dark btn-block dropdown-toggle" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expaned="false"></a>
                    <div class="dropdown-menu" aria-labelledby="act">
                        <h6 class="dropdown-header">Action Menu</h6>
                        @if (item.StatusID == StatusType.OrderPlaced)
                        {
                            <a href="#" onclick="Cancel('@item.ID','@StatusType.Cancel')" class="dropdown-item Edit">Cancel</a>
                            <a href="#" onclick="Confirm('@item.ID','@StatusType.Confirmed')" class="dropdown-item Edit">Confirm</a>
                        }
                        @if (item.StatusID == StatusType.Shipped)
                        {
                            <a href="#" onclick="MarkasDilivered('@item.ID','@StatusType.Delivered','')" class="dropdown-item Edit">Mark Deliver</a>
                        }
                        @if (item.StatusID == StatusType.Confirmed)
                        {
                            <a href="#" onclick="MarkasShipped('@item.ID')" class="dropdown-item Edit">Mark as Shipped</a>
                        }
                        @if (item.StatusID == StatusType.OrderReplaced)
                        {
                            <a href="#" onclick="IsReplacedConform('@item.ID')" class="dropdown-item Edit">Replacement Conform</a>
                        }
                        @if (item.StatusID == StatusType.CancelRequest)
                        {
                            <a href="#" onclick="IsCancelConform('@item.ID','@StatusType.Cancel')" class="dropdown-item Edit">Order Cancel</a>
                        }
                        <a href="/OrderDetails/Invoice?OrderId=@item.ID" class="dropdown-item Edit" target="_blank" title="Download Invoice">Download Invoice</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="valign-wrapper pr12ImgNameDiv">
                        <img src="@item.Thumbnail" class="img-fluid rounded-circle" style="width:50px" onerror="this.onerror=null;this.src='/image/static/no-image.png'">
                    </div>
                </div>
            </td>
            <td>@item.Product</td>
            <td>@item.Title</td>
            <td><span class="badge @badge">@item.StatusID.ToString()</span></td>
            <td>@item.Qty</td>
            <td>@item.Attributes</td>
            <td>@item.Rate</td>
            <td>@item.MRP</td>
            <td>@item.PaymentMode</td>
            <td>@item.EntryOn</td>
            <td>@item.ShopName</td>
        </tr>
    }
}
<script>
    var MarkasShipped = (Id) => {
        $.get('/OrderDetails/MarkAsShippV', { Id }).done((result) => {
            Q.alert({
                title: 'Shipping Details',
                body: result,
                width: 600
            });
        })
    }
    var MarkasDilivered = (Id, StatusID, Remark = '') => {
        $.post('/OrderDetails/ChangeStatus', { ID: Id, StatusID: StatusID, Remark: Remark }).done((result) => {

            Q.notify(result.statusCode, result.statusCode == 1 ? 'Success' : result.responseText);
            if (result.statusCode) {
                loadData();
            }
        });
    }
    var IsReplacedConform = (Id) => {
        $.post('/OrderDetails/OrderReplacedConform', { ID: Id }).done(function(result) {
            Q.notify(result.statusCode, result.responseText);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            Q.notify(-1, 'something went wrong.');
        });
    }
    var IsCancelConform = (Id, StatusId) => {
        let obj = {
            ID: Id,
            StatusID: StatusId
        }
        $.post('/OrderDetails/ChangeStatus', obj).done(function(result) {
            Q.notify(result.statusCode, result.responseText);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            Q.notify(-1, 'something went wrong.');
        });
    }
</script>