@using Entities.Enums;
@using Entities.Models;
@model IEnumerable<OrderDetailsColumn>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        string badge = "";
        badge = item.StatusID == StausType.OrderPlaced ? "badge-warning" : item.StatusID == StausType.Cancel ? "badge-danger" : item.StatusID == StausType.Confirmed ? "badge-success" : item.StatusID == StausType.Delivered ? "badge-info" : "badge-dark";
        counter++;
        <tr>
            <td>@counter</td>
            <td class="align-middle">
                <div class="btn-group dropup">
                    <a href="#" id="act_@counter" class="btn btn-outline-dark btn-block dropdown-toggle" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expaned="false"></a>
                    <div class="dropdown-menu" aria-labelledby="act">
                        <h6 class="dropdown-header">Action Menu</h6>
                        @if (item.StatusID == StausType.OrderPlaced)
                        {
                            <a href="#" onclick="Cancel('@item.ID','@StausType.Cancel')" class="dropdown-item Edit">Cancel</a>
                            <a href="#" onclick="Confirm('@item.ID','@StausType.Confirmed')" class="dropdown-item Edit">Confirm</a>
                        }
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="valign-wrapper pr12ImgNameDiv">
                        <img src="@item.Thumbnail" class="img-fluid rounded-circle" style="width:50px" onerror="this.onerror=null;this.src='/image/static/no-image.png'">
                    </div>
                </div>
            </td>
            <td>@item.Product</td>
            <td>@item.Title</td>
            <td><span class="badge @badge">@item.StatusID.ToString()</span></td>
            <td>@item.Qty</td>
            <td>@item.Attributes</td>
            <td>@item.Rate</td>
            <td>@item.MRP</td>
            <td>@item.PaymentMode</td>
            <td>@item.EntryOn</td>
            <td>@item.ShopName</td>
        </tr>
    }
}