@using Entities.Enums;
@using Entities.Models;
@model IEnumerable<OrderDetailsColumn>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        string badge = "";
        badge = item.StatusID == StatusType.OrderPlaced ? "badge-warning" : item.StatusID == StatusType.Cancel ? "badge-danger" : item.StatusID == StatusType.Confirmed ? "badge-success" : item.StatusID == StatusType.Delivered ? "badge-info" : "badge-dark";
        counter++;
        <tr>
            <td>
                <a href="/productdetail/@item.VarriantID">
                    <img src="@item.Thumbnail" alt="product" class="img-fluid" onerror="this.onerror=null;this.src='/image/static/no-image.png'">
                </a>
            </td>
            <td>
                <a href="/productdetail/@item.VarriantID">order no: <span class="dark-data">@item.OrderID.ToString().ToUpper()</span> <br>@item.Title</a>
                <div class="mobile-cart-content row">
                    <div class="col-xs-3">
                        <div class="qty-box">
                            <div class="input-group">
                                <input type="text" name="quantity" class="form-control input-number" value="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <h4 class="td-color">@item.Rate</h4>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="td-color"><a href="javascript:void(0)" class="icon"><i class="ti-close"></i></a></h2>
                    </div>
                </div>
            </td>
            <td>
                <h4>@item.Rate</h4>
            </td>
            <td>
                <span>@item.Attributes</span>
                <br>
                <span>Quntity:@item.Qty</span>
            </td>
            <td>
                <div class="responsive-data">
                    <h4 class="price">@item.Rate</h4>
                    <span>@item.Attributes</span>|<span>Quntity:@item.Qty</span>
                </div>
                <span class="dark-data">
                    @item.StatusID.ToString()
                    @if (item.StatusID == StatusType.Shipped)
                    {
                        <a href="https://shiprocket.co/tracking/@item.DocketNo" target="_blank" class="btn btn-sm btn-info">Track</a>
                        <span class="btn btn-sm btn-rounded" title="@item.DocketNo"> <i class="fa fa-solid fa-info"></i> </span>
                        <button class="btn btn-sm btn-rounded" onclick="ShareTrackingDetails('@item.DocketNo','https://shiprocket.co/tracking/@item.DocketNo')">Share</button>
                    }
                    @if (item.StatusID == StatusType.Confirmed)
                    {
                        <a class="btn btn-sm btn-rounded" href="/OrderDetails/Invoice?OrderId=@item.ID" target="_blank">Invoice</a>
                    }
                  
                </span>
            </td>
        </tr>        
    }
}