@using Entities.Models
@model ProductDetails
@{
    Layout = "_layout";
    var modelss = Model;
}
<style>
    .attributeValue {
        margin-right: 5px;
    }
</style>



<section class="section-big-pt-space b-g-light">
    <input type="hidden" id="hdVid" value="@Model.VariantId" />
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-3 collection-filter">
                    <div class="collection-filter-block creative-card creative-inner">
                        <div class="product-service">
                            <div class="media">
                                <img src="~/Image/icons/shipping.svg" />
                                <div class="media-body">
                                    <h4>free shipping</h4>
                                    <p>free shipping world wide</p>
                                </div>
                            </div>
                            <div class="media">
                                <img src="/Image/icons/24x7.svg" />
                                <div class="media-body">
                                    <h4>24 X 7 service</h4>
                                    <p>online service for new customer</p>
                                </div>
                            </div>
                            <div class="media">
                                <img src="~/Image/icons/festive.svg" />
                                <div class="media-body">
                                    <h4>festival offer</h4>
                                    <p>new online special festival offer</p>
                                </div>
                            </div>
                            <div class="media border-0 m-0">
                                <img src="~/Image/icons/payment.svg" />
                                <div class="media-body">
                                    <h4>online payment</h4>
                                    <p>Contrary to popular belief.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- side-bar single product slider start -->
                    <div id="dvHotDealNewProduct">
                    </div>
                    <!-- side-bar single product slider end -->
                </div>
                <div class="col-lg-9 col-sm-12 col-xs-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="filter-main-btn mb-2">
                                    <span class="filter-btn"><i class="fa fa-filter" aria-hidden="true"></i> filter</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            
                            
      
                            <div class="col-lg-5" id="productImages">
                                <div class="product-slick">
                                    <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid image_zoom_cls-0"></div>
                                    <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid image_zoom_cls-1"></div>
                                    <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid image_zoom_cls-2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="slider-nav">
                                            <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid"></div>
                                            <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid"></div>
                                            <div><img src="/assets/images/noimage.jpg" alt="" class="img-fluid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 rtl-text">
                                <div class="product-right ">
                                    <div class="pro-group">
                                        <h2>@Model.Title</h2>
                                        <ul class="pro-price">
                                            <li><i class="fa fa-inr"></i> @Model.SellingCost</li>
                                            <li><span>mrp <i class="fa fa-inr"></i> @Model.MRP</span></li>
                                            <li> @Math.Floor((((Model.MRP-Model.SellingCost)/Model.MRP)*100))  % off</li>
                                        </ul>
                                        <div class="revieu-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <a href="review.html"><span>(6 reviews)</span></a>
                                        </div>
                                    </div>
                                    <div id="selectSize" class="pro-group addeffect-section product-description border-product">
                                        <div id="attributeList"></div>
                                        <h6 class="product-title d-none">quantity</h6>
                                        <div class="qty-box d-none">
                                            <div class="input-group">
                                                <button class="qty-minus"></button>
                                                <input class="qty-adj form-control" id="txtQuantity" min="1" type="number" value="1" />
                                                <button class="qty-plus"></button>
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="javascript:void(0)" class="btn cart-btn btn-normal tooltip-top btnAddtocart">
                                                <i class="fa fa-shopping-cart"></i>
                                                Add to cart
                                            </a>
                                            <a href="javascript:void(0)" class="btn cart-btn btn-normal btnBuyNow">
                                                Buy Now
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-normal  addtowishlist">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pro-group">
                                        <h6 class="product-title">delivery location</h6>
                                        <div class="delivery-detail">
                                            <div class="delivery-detail-contian">
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="ti-location-pin"></i></span>
                                                    <input type="text" class="form-control" placeholder="Enter Pincode for delivery">
                                                </div>
                                                <a href="javascript:void(0)" class="btn btn-solid btn-md ">check</a>
                                            </div>
                                            <div class="delivery-lable">
                                                <img src="~/Image/icons/oreder_in_12_hours.svg" class="svg" />
                                                Order within 12 hrs
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-group">
                                        <div class="product-offer">
                                            <h6 class="product-title"><i class="fa fa-tags"></i>5 offers Available </h6>
                                            <div class="offer-contain">
                                                <ul>
                                                    <li>
                                                        <span class="code-lable">OFFER40</span>
                                                        <div>
                                                            <h5>Get extra $40 off on first Orders</h5>
                                                            <p>Use code "OFFER40" Min. Cart Value $99 | Max. Discount $40</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="offer-sider">
                                                    <li>
                                                        <span class="code-lable">OFFER25</span>
                                                        <div>
                                                            <h5>Get extra $25 off on second Orders</h5>
                                                            <p>Use code "OFFER25" Min. Cart Value $99 | Max. Discount $25</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="code-lable">OFFER40</span>
                                                        <div>
                                                            <h5>Bank Offer40% Unlimited Cashback on bideal Axis Bank Credit Card</h5>
                                                            <p>Use code "OFFER40" Min. Cart Value $99 | Max. Discount $40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="code-lable">OFFER10</span>
                                                        <div>
                                                            <h5>Bank Offer10% off* with Axis Bank Buzz Credit Card</h5>
                                                            <p>Use code "OFFER10" Min. Cart Value $99 | Max. Discount $10</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="code-lable">OFFER5</span>
                                                        <div>
                                                            <h5>Bank Offer5% Unlimited Cashback on bideal sbi banck Credit Card</h5>
                                                            <p>Use code "OFFER5" Min. Cart Value $99 | Max. Discount $5</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <h5 class="show-offer"><span class="more-offer">show more offer</span><span class="less-offer">less offer</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-group">
                                        <h6 class="product-title">product infomation</h6>
                                        <p>@Model.ShortDescription</p>
                                    </div>
                                    <div class="pro-group">
                                        <h6 class="product-title">Delivery option</h6>
                                        <ul class="delivery-services">
                                            <li>
                                                <img src="~/Image/icons/shipping.svg" class="svg" />
                                                free shipping
                                            </li>
                                            <li>
                                                <img src="~/Image/icons/Return.svg" class="svg" />
                                                10 Days Returnable
                                            </li>
                                            <li>
                                                <img src="~/Image/icons/warrenty.svg" class="svg" />
                                                1 Year Warranty
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pro-group pb-0">
                                        <h6 class="product-title">share</h6>
                                        <ul class="product-social">
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="tab-product tab-exes creative-card creative-inner">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>Description</a>
                                        <div class="material-border"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Specification</a>
                                        <div class="material-border"></div>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="review-top-tab" data-bs-toggle="tab" href="#top-review" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>Write Review</a>
                                        <div class="material-border"></div>
                                    </li>
                                </ul>
                                <div class="tab-content nav-material" id="top-tabContent">
                                    <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                                        <p>@Html.Raw(Model.Description)</p>
                                    </div>
                                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                                        <p class="pl-0"> @Html.Raw(Model.Specification)</p>
                                        <div class="single-product-tables">
                                            <table>
                                                <tbody id="">
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                                        <form class="theme-form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="media">
                                                        <label>Rating</label>
                                                        <div class="media-body ms-3">
                                                            <div class="rating three-star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Enter Your name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" placeholder="Email" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Review Title</label>
                                                    <input type="text" class="form-control" placeholder="Enter your Review Subjects" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Review Title</label>
                                                    <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-normal" type="submit">Submit Your Review</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script>
    var variantId = @Model.VariantId;

    const productDetail = {
        images: [],
        attributeInfo: [],
        variantInfo: [],
    };

    const activeAttribute = {
        info: []
    }

    const slickOnProduct = () => {
        if ($('.product-slick').hasClass('slick-initialized')) {
            $('.product-slick').slick('unslick')
        }
        if ($('.slider-nav').hasClass('slick-initialized')) {
            $('.slider-nav').slick('unslick')
        }
        $('.product-slick').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            vertical: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.product-slick',
            arrows: false,
            dots: false,
            focusOnSelect: true
        });
    }

    const GetPictures = () => {
        $.post(`/Home/GetProductPicDetails/`, { Id: variantId }).done((result) => {
            if (result != null && result.length > 0) {
                productDetail.images = result;
            }
        })
    }

    const GetAttributes = () => {
        $.post(`/Home/ProductAttrDetail/`, { Id: variantId }).done((result) => {
            let _html = ``;
            $.each(result, (k, v) => {
                _html += `<div class="attibute mb-2" data-attribute-id='${v.attributeId}' data-attribute-name='${v.name}'>`;
                _html = _html + `<h6 class="product-title size-text">${v.name}</h6><ul>`;
                let uniqueAttr = [];
                $.each(v.attributes, (i, j) => {
                    if (!uniqueAttr.includes(j.attributeValue.toUpperCase())) {
                        uniqueAttr.push(j.attributeValue.toUpperCase());
                        let active = activeAttribute.info.includes(j.attributeValue.toUpperCase()) ? 'active' : '';
                        _html += `<li class="${active} attributeValue btn btn-sm btn-outline-dark" data-attr-val='${j.attributeValue}'>${j.attributeValue}</li>`;
                        bindImages(`${j.attributeValue}`);
                        //if (v.name.toLowerCase() === 'color' && active === 'active') {
                        //    bindImages(`${j.attributeValue}`);
                        //}
                    }
                });
                _html = _html + `</ul></div>`;
            });
            $('#attributeList').html(_html);
        })
    }

    const GetAttributesInfo = () => {
        $.post(`/Home/ProductAttributeInfo/`, { Id: variantId }).done((result) => {
            activeAttribute.info = result.map(a => {
                return a.groupId == variantId ? a.attributeValue.toUpperCase() : '';
            });
            productDetail.attributeInfo = result;
        })
    }

    const loadHotDealsNewProduct = async function () {
        await $.post("/HotDealsNewProduct").done(res => {
            $('#dvHotDealNewProduct').append(res);
        }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
    }

    const bindImages = (color) => {
        if ($('.product-slick').hasClass('slick-initialized')) {
            $('.product-slick').slick('unslick')
        }
        if ($('.slider-nav').hasClass('slick-initialized')) {
            $('.slider-nav').slick('unslick')
        }
        let __t = '', __h = '';
        let uniquethumb = [], uniqueOriginal = [];
        let __images = productDetail.images.filter(x => x.color === color);
        if (__images.length === 0) {
            __images = productDetail.images.filter(x => x.color.toLowerCase() === 'default');
            if (__images.length === 0) {
                __images = [{ imagePath: '/assets/images/noimage.jpg', alt: 'no-image', imgVariant: '400_400' }, { imagePath: '/assets/images/noimage.jpg', alt: 'no-image', imgVariant: 'default' }];
            }
        }
        __images.forEach(x => {
            if (!uniquethumb.includes(JSON.stringify(x))) {
                if (x.imgVariant === '400_400') {
                    uniquethumb.push(JSON.stringify(x));
                    __t += `<div><img src="${x.imagePath}" alt="${x.alt}" class="img-fluid" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'"></div>`
                }
            }
            if (!uniquethumb.includes(JSON.stringify(x))) {
                if (x.imgVariant.toLowerCase() === 'default') {
                    uniqueOriginal.push(JSON.stringify(x));
                    __h += `<div><img src="${x.imagePath}" alt="${x.alt}" class="img-fluid" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'"></div>`
                }
            }
        });
        $('.product-slick').html(__h);
        $('.slider-nav').html(__t);
        slickOnProduct();
    };

    const readAttributes = () => {
        let attributes = []
        $('#attributeList .attibute').each(function (i, t) {
            attributes.push($(t).find('li.attributeValue.active').text());
        });
        return attributes.join(',');
    };

    const getVariantId = async () => {
        let _u = new URL(window.location);
        let qs = _u.pathname.split('/');
        let vId = 0;
        if (qs.length === 3) {
            vId = qs[2]
        }
        let param = {
            VariantId: vId,
            Attributes: readAttributes()
        };
        let vDetail = productDetail.variantInfo.filter(x => x.attributes === param.Attributes)[0]?.d;
        if ($('.btnAddtocart').attr('disabled') === 'disabled') {
            $('.btnAddtocart').removeAttr('disabled').html('<i class="fa fa-shopping-cart"></i>add to cart').click(() => addToCart(variantId));
            $('.qty-plus,.qty-minus').removeAttr('disabled');
        }
        if (vDetail === undefined) {
            await $.post('/GetVariantIdByAttributes', param).done(result => {
                if (result.statusCode === 1) {
                    vDetail = result.result;
                    productDetail.variantInfo.push({ attributes: param.Attributes, d: vDetail });
                }
                else {
                    $('.btnAddtocart').attr('disabled', 'disabled').text('Out Of Stock').unbind();
                    $('.qty-plus,.qty-minus').attr('disabled', 'disabled');
                }
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        }
        Q.rewriteURL('/productdetails/' + vDetail.variantId);
        variantId = vDetail.variantId;
    };

    slickOnProduct();

    $(() => {
        GetPictures();
        GetAttributesInfo();
        setTimeout(() => GetAttributes(), 100);
        loadHotDealsNewProduct();
    });

    $(document).on('click', '.attributeValue', (e) => {
        let ele = $(e.currentTarget);
        ele.parents('ul').find('.attributeValue').removeClass('active');
        ele.addClass('active');
        let _attr = [];
        $('#attributeList').find('.attibute').each(function () {
            let _attData = $(this).find('li.active').data();
            if (_attData) {
                _attr.push(_attData.attrVal);
            }
        })
        let req = {
            variantId,
            attributes: _attr.join(',')
        };
        let attributeName = ele.parents('.attibute').data()?.attributeName;
        console.log('123');
        bindImages(ele.parents('[data-attribute-name="Color"]').find('li.active').text());
        //if (attributeName && attributeName.toLowerCase() === 'color') {
        //    bindImages(ele.parents('[data-attribute-name="Color"]').find('li.active').text());

        //}
        getVariantId();
    });

    $('.slide-1').slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true
            }
        },
        {
            breakpoint: 992,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true
            }
        },
        {
            breakpoint: 767,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
        },
        {
            breakpoint: 490,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }]
    });

    $('.btnAddtocart').click(() => addToCart(variantId));
    $('.btnBuyNow').click(function(){
        let param = { VariantID: variantId };
     $.post("/AddToCart", param).done(res => {
         if(res.statusCode == -1)
             {
                   Q.notify(res.statusCode,  res.responseText)
             }
         else{
             window.location.href="/checkout/"+true;
             }
    }).fail(xhr => Q.xhrError(xhr)).always(() => "")
     });

</script>



}   