@using Entities.Enums;
@model StatusType
<style>
    .error {
        color: crimson;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row justify-content-end">
            <div class="col-sm-12">
                <h3 class="float-left">
                    Order Details
                </h3>
            </div>
            <div class="row w-100">
                <div class="col-sm-1">
                    <label>Top</label>
                    <select id="Top" class="form-control">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="4000">4000</option>
                        <option value="20000">All</option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 float-end">
                    <label>From Date</label>
                    <input aria-describedby="dtFromDate" class="form-control" id="dtFromDate" tabindex="5" type="text" readonly="readonly" value="@DateTime.Now.ToString("dd MMM yyyy")" />
                </div>
                <div class="col-sm-2 float-end">
                    <label>To Date</label>
                    <input aria-describedby="dtToDate" class="form-control" id="dtToDate" tabindex="6" type="text" readonly="readonly" value="@DateTime.Now.ToString("dd MMM yyyy")">
                </div>
                <div class="col-sm-2 float-end">
                    <label>Status</label>
                    <select class="form-control" id="status">
                        <option value="0">All</option>
                        <option value="@StatusType.OrderPlaced">@StatusType.OrderPlaced.ToString()</option>
                        <option value="@StatusType.Cancel">@StatusType.Cancel.ToString()</option>
                        <option value="@StatusType.Confirmed">@StatusType.Confirmed.ToString()</option>
                        <option value="@StatusType.Delivered">@StatusType.Delivered.ToString()</option>
                        <option value="@StatusType.Shipped">@StatusType.Shipped.ToString()</option>
                        <option value="@StatusType.ReturnInitiated">@StatusType.ReturnInitiated.ToString()</option>
                        <option value="@StatusType.ReturnCompleted">@StatusType.ReturnCompleted.ToString()</option>
                    </select>
                </div>
                <div class="col-sm-3 float-end">
                    <label>Search Order</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="SearchText" />
                        <div class="input-group-append" style="cursor:pointer">
                            <span class="input-group-text btn-primary" id="basic-addon1">
                                <div class="fa-3x">
                                    <i class="fa fa-search" style="font-size: 22px;"></i>
                                </div>
                            </span>
                            <span class="input-group-text btn-success" title="Download Order Report" onclick="downloadExcel()" id="basic-addon1"><i class=" fa fa-sharp fa-solid fa-file-excel" style="font-size: 22px;"></i></span>
                            <span class="input-group-text btn-success" title="Download GST Exel" onclick="downloadGSTExcel()" id="basic-addon2"><i class=" fa fa-sharp fa-solid fa-file-excel" style="font-size: 22px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2 table-responsive">
                <table class="table table-bordered" id="Grid">
                    <thead>
                        <tr>
                            <th>srNo</th>
                            <th>Action</th>
                            <th>Product</th>
                            <th class="text-nowrap">Product Name</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Qty</th>
                            <th>Attributes</th>
                            <th>Rate</th>
                            <th>MRP</th>
                            <th>IGST</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>Mode</th>
                            <th class="text-nowrap">Order Date</th>
                            <th>ShopName</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(() => {
            loadData();
        })
        var params = () => {
            return {
                Top: $('#Top').val(),
                FromDate: $('#dtFromDate').val(),
                ToDate: $('#dtToDate').val(),
                StatusID: $('#status').val(),
                SearchText: $('#SearchText').val()
            };
        }
        $('#basic-addon1').click(() => {
            Q.btnLdr.Start($('#basic-addon1'), '');
           loadData();
        });
        var loadData = async () => {
            let param = params();
            await $.post('/OrderDetails/OrderList', param).done(function(result) {
                $("#Grid tbody").empty();
                 $('#Grid tbody').append(result);
                if (result != null) {
                    $('.dataTables_empty').remove();
                }
                Q.btnLdr.Stop($('#basic-addon1'), '');
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]));
        };
        var Cancel = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Cancel This Order", () => ChangeStatusItem(ID, StatusID));

        var Confirm = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Confirm This Order", () => ChangeStatusItem(ID, StatusID));


        var ChangeStatusItem = function(ID, StatusID) {
            $.post('/OrderDetails/ChangeStatus', { ID, StatusID }).done((result) => {
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode)
                    loadData();
            })
        };
        Q.dateRangeFilter();
        var downloadExcel = () => {
            let param = params();
            window.location = '/OrderDetails/OrderReportExcel?' + $.param(param);
        }
        var downloadGSTExcel = () => {
            let param = params();
            window.location = '/OrderDetails/OrderGSTExcel?' + $.param(param);
        }

        var ShowReason = (Id) => {
            $.get('/OrderDetails/GetReturnRequestByOrderId', { Id }).done((result) => {
                Q.alert({
                    title: 'Order Details',
                    body: result,
                    width: 800
                });
            })
        }
        callDataTable({ selector: '#Grid', searching: false });
    </script>
}