@using Entities.Enums;
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col-md-9 col-sm-6">
                    <h2 class="float-left">
                        Order Details
                    </h2>
                </div>
                <div class="col-md-3 col-sm-6">
                    <select class="form-control" id="status" onchange="loadData();">
                        <option value="0">Select Status</option>
                        <option value="@StausType.OrderPlaced">@StausType.OrderPlaced.ToString()</option>
                        <option value="@StausType.Cancel">@StausType.Cancel.ToString()</option>
                        <option value="@StausType.Confirmed">@StausType.Confirmed.ToString()</option>
                        <option value="@StausType.Delivered">@StausType.Delivered.ToString()</option>
                        <option value="@StausType.Shipped">@StausType.Shipped.ToString()</option>

                    </select>
                </div>
                <div class="col-md-12 mt-2">
                    <table class="table table-bordered" id="Grid">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Action</th>
                                <th>Product</th>
                                <th class="text-nowrap">Product Name</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Qty</th>
                                <th>Attributes</th>
                                <th>Rate</th>
                                <th>MRP</th>
                                <th>Mode</th>
                                <th class="text-nowrap">Order Date</th>
                                <th>ShopName</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(() => {
            loadData();
        })
        var loadData = () => {
            let param = {
                StatusID: $('#status').val()
            }
            $.post('/OrderDetails/OrderList', param).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
            })
        };



        var Cancel = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Cancel This Order", () => ChangeStatusItem(ID, StatusID));
        var Confirm = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Confirm This Order", () => ChangeStatusItem(ID, StatusID));
        var ChangeStatusItem = function (ID, StatusID) {
            $.post('/OrderDetails/ChangeStatus', { ID, StatusID }).done((result) => {
                console.log('result :', result);
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode)
                    loadData();
            })
        };
    </script>
}