@using Entities.Models
@using Service.Models
@using Entities.Enums;
@model Response<IEnumerable<ProductResponse>>
@{
    var result = Model != null && Model.StatusCode == ResponseStatus.Success && Model.Result.Any() ? Model.Result : new List<ProductResponse>();
}

@if (result.Any())
{
    @foreach (var item in result)
    {
        <div class="col-xl-3 col-md-4 col-6 col-grid-box">
            <div class="product-box">
                <div class="product-imgbox">
                    <div class="product-front">
                        <a href="/productdetail/@item.VariantID"> <img src="@item.ImagePath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid  " alt="product"> </a>
                    </div>
                </div>
                <div class="product-detail detail-center detail-inverse">
                    <div class="detail-title">
                        <div class="detail-left">
                            <div class="rating-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            @*<p>@item.Title</p>*@
                            <a href="/productdetail/@item.VariantID">
                                <h6 class="price-title">
                                    @item.Title
                                </h6>
                            </a>
                        </div>
                        <div class="detail-right">
                            <div class="check-price">&#8377; @item.MRP </div>
                            <div class="price">
                                <div class="price">&#8377; @item.SellingCost</div>
                            </div>
                        </div>
                    </div>
                    <div class="icon-detail">
                        <button class="tooltip-top add-cartnoty" data-tippy-content="Add to cart"> <i data-feather="shopping-cart"></i> </button>
                        <a href="javascript:void(0)" class="add-to-wish tooltip-top" data-tippy-content="Add to Wishlist"> <i data-feather="heart"></i> </a>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top" data-tippy-content="Quick View"> <i data-feather="eye"></i> </a>
                        <a href="compare.html" class="tooltip-top" data-tippy-content="Compare"> <i data-feather="refresh-cw"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    }
}



<div class="load-more-sec"><a href="javascript:void(0)" class="loadMore">load more</a></div>


<script>

         $(function () {
        $(".col-grid-box").slice(0, 8).show();
        $(".loadMore").on('click', function (e) {
            e.preventDefault();
            $(".col-grid-box:hidden").slice(0, 4).slideDown();
            if ($(".col-grid-box:hidden").length == 0) {
                $(".load-more-sec").text('no more products');
            }
        });
    });

</script>
