@using Entities.Models
@model ProductDetails

@{
    var json = "";
    var defaultimages = Model.ProductPictureInfos.Where(x => x.ImgVariant?.ToLower() == "default");
}
<style>
    .star-rating__stars {
        position: relative;
        height: 2rem;
        width: 10rem;
        background: url(../../Image/off.svg);
        background-size: 2rem 2rem;
        margin-bottom: 10px;
    }

    .star-rating__label {
        position: absolute;
        height: 100%;
        background-size: 2rem 2rem;
    }

    .star-rating__input {
        margin: 0;
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .star-rating__stars .star-rating__label:nth-of-type(1) {
        z-index: 5;
        width: 20%;
    }

    .star-rating__stars .star-rating__label:nth-of-type(2) {
        z-index: 4;
        width: 40%;
    }

    .star-rating__stars .star-rating__label:nth-of-type(3) {
        z-index: 3;
        width: 60%;
    }

    .star-rating__stars .star-rating__label:nth-of-type(4) {
        z-index: 2;
        width: 80%;
    }

    .star-rating__stars .star-rating__label:nth-of-type(5) {
        z-index: 1;
        width: 100%;
    }

    .star-rating__input:checked + .star-rating__label,
    .star-rating__input:focus + .star-rating__label,
    .star-rating__label:hover {
        background-image: url(../../Image/on.svg);
    }

        .star-rating__label:hover ~ .star-rating__label {
            background-image: url(../../Image/off.svg);
        }

    .star-rating__input:focus ~ .star-rating__focus {
        position: absolute;
        top: -.25em;
        right: -.25em;
        bottom: -.25em;
        left: -.25em;
        outline: 0.25rem solid lightblue;
    }
</style>
<div class="row">
    <div class="col-lg-5">
        <div class="large-5 column">
            <div class="xzoom-container">
                @if (Model != null && Model.ProductPictureInfos != null && Model.ProductPictureInfos.Any())
                {
                    int i = 0;
                    <div class="zoom-box">
                        <img class="xzoom" id="xzoom-default" src="@(defaultimages.FirstOrDefault()?.ImagePath)"
                             xoriginal="@defaultimages.FirstOrDefault()?.ImagePath" style="max-height:500px;object-fit:contain" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" />
                    </div>
                    @if (defaultimages.Count()>1)
                    {
                        <div class="xzoom-thumbs">
                            <div class="thumb-top"><a href="#" class="mob-sec"> <i class="fa fa-angle-up"></i></a> </div>
                            <div id="thumbnail">

                                @foreach (var pictures in defaultimages)
                                {
                                    @if (i == 0)
                                    {
                                        <a href="@pictures.ImagePath">
                                            <img class="xzoom-gallery" src="@pictures.ImagePath" xpreview="@pictures.ImagePath" style="width:85px;height:85px;object-fit:contain" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'">
                                        </a>

                                    }
                                    else
                                    {
                                        <a href="@pictures.ImagePath">
                                            <img class="xzoom-gallery" src="@pictures.ImagePath" style="width:85px;height:85px;object-fit:contain" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'">
                                        </a>
                                    }
                                    i = i + 1;
                                }

                            </div>
                            <div class="thumb-bottom"> <a href="#" class="mob-sec"><i class="fa fa-angle-down"></i></a> </div>
                        </div>
                    }
                }
            </div>

            <div class="product-buttons">
                <button class="btn cart-btn btn-normal tooltip-top btnAddtocart">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </button>
                <button class="btn cart-btn btn-normal btnBuyNow">Buy Now</button>
                <button class="btn btn-normal  btnaddtowishlist">
                    @{
                        string wishlist = @Model.WishListID > 0 ? "text-danger" : string.Empty;
                    }
                    <i class="fa fa-heart @wishlist" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="large-7 column"></div>


    </div>
    <div class="col-lg-7 rtl-text">
        <div class="product-right ">
            <div class="pro-group">
                <h2>@Model.Title</h2>
                <div class="revieu-box">
                    <ul>
                        @for (var i = 0; i < Model.Rating; i++)
                        {
                            <li><i class="fa fa-star"></i></li>
                        }
                        @for (var i = 0; i < 5 - Model.Rating; i++)
                        {
                            <li><i class="fa fa-star-o"></i></li>
                        }
                    </ul>
                    <a href="#divrate"><span>(@Model.TotalReviews reviews)</span></a>
                </div>
                <ul class="pro-price">
                    <li><i class="fa fa-inr text-success"></i> <label class="mb-0" style="font-size:31px">@Model.SellingCost</label></li>
                    <li><span>mrp <i class="fa fa-inr"></i> <b>@Model.MRP</b></span></li>

                    <li> @Math.Floor((((Model.MRP-Model.SellingCost)/Model.MRP)*100))  % off</li>
                </ul>
            </div>
            <div id="selectSize" class="pro-group addeffect-section product-description border-product">
                @if (Model != null && Model.ProductAttributes.Any())
                {
                    var attributeNames = new List<string>();
                    @foreach (var item in Model.ProductAttributes)
                    {
                        if (!attributeNames.Any(x => x == item.AttributeName))
                        {
                            attributeNames.Add(item.AttributeName);
                            <div id="attributeList">
                                <div class="attibute mb-2" data-attribute-id="@item.AttributeId" data-attribute-name="@item.AttributeName">
                                    <h6 class="product-title size-text">@item.AttributeName</h6>
                                    <ul>
                                        @if (Model != null && Model.AttributeInfo.Any())
                                        {
                                            var AttributeValue = new List<string>();
                                            foreach (var attrinfo in Model.AttributeInfo)
                                            {
                                                if (!AttributeValue.Any(x => x == attrinfo.AttributeValue))
                                                {
                                                    if (attrinfo.AttributeId == item.AttributeId)
                                                    {
                                                        AttributeValue.Add(attrinfo.AttributeValue);
                                                        string activeclass = attrinfo.GroupId == Model.VariantId ? "active" : "";
                                                        if (attrinfo.GroupId == item.VariantId)
                                                        {
                                                            string soms = "Active";
                                                        }
                                                        <a data-id="@attrinfo.GroupId" class="changeVariant">
                                                        <li class="@activeclass attributeValue btn btn-sm btn-outline-dark mb-1" data-attr-val="@attrinfo.AttributeValue">@attrinfo.AttributeValue</li></a>
                                                    }
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="lblmsg" style="display:none"><label class="text-danger h5" id="lblmsg"></label></div>
            <div class="pro-group d-none">
                <h6 class="product-title">delivery location</h6>
                <div class="delivery-detail">
                    <div class="delivery-detail-contian">
                        <div class="input-group">
                            <span class="input-group-text"><i class="ti-location-pin"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Pincode for delivery">
                        </div>
                        <a href="javascript:void(0)" class="btn btn-solid btn-md ">check</a>
                    </div>
                    <div class="delivery-lable">
                        <img src="~/Image/icons/oreder_in_12_hours.svg" class="svg" />
                        Order within 12 hrs
                    </div>
                </div>
            </div>

            <div class="pro-group">
                <div class="product-offer">
                    <h6 class="product-title"><i class="fa fa-tags"></i>offers Available </h6>
                    <div class="offer-contain">
                        <ul>
                            <li>
                                @*Special offer available*@
                                @if (Model != null && Model.sepcialoffer.Any(x => x.AtRate != 0 && x.Discounttype != null))
                                {
                                    @foreach (var so in Model.sepcialoffer)
                                    {
                                        if (so.Discounttype == 'F'.ToString() && so.Discounttype != null)
                                        {
                                            <span class="code-lable">SPECIAL - FLAT ₹ @so.AtRate off</span>
                                        }
                                        else
                                        {
                                            <span class="code-lable">SPECIAL - UPTO  @so.AtRate % Off</span>
                                        }
                                    }
                                }
                                @if (@Math.Floor((((Model.MRP - Model.SellingCost) / Model.MRP) * 100)) > 0)
                                {
                                    <span class="code-lable">OFFER  @Math.Floor((((Model.MRP-Model.SellingCost)/Model.MRP)*100)) % Off</span>
                                }
                                
                                <div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @*coupons div start*@
            <div class="pro-group">
                <div class="product-offer">
                    <h6 class="product-title"><i class="fa fa-tags"></i>Coupons Available </h6>
                    <div class="offer-contain">
                        <ul>
                            <li>
                                @*Special offer available*@
                                @if (Model != null && Model.Coupons.Any())
                                {
                                    @foreach (var so in Model.Coupons)
                                    {
                                        if (so.IsFixed == true)
                                        {
                                            <span class="code-lable">@so.CouponCode - FLAT ₹ @so.DiscountAmount off</span>
                                        }
                                        else
                                        {
                                            <span class="code-lable">@so.CouponCode - UPTO  @so.DiscountAmount % Off</span>
                                        }
                                    }
                                }
                               
                                <div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*coupons div end*@

            <div class="pro-group">
                <h6 class="product-title">product infomation</h6>
                <p>@Model.ShortDescription</p>
            </div>
            <div class="pro-group">
                <h6 class="product-title">Delivery option</h6>
                <ul class="delivery-services">
                    <li>
                        <img src="~/Image/icons/shipping.svg" class="svg" />
                        free shipping
                    </li>
                    @if (Model.ReturnInDays > 0)
                    {
                        <li>
                            <img src="~/Image/icons/Return.svg" class="svg" />
                            @Model.ReturnInDays Days Returnable
                        </li>
                    }
                    @if (Model.Warranty > 0)
                    {
                        <li>
                            <img src="~/Image/icons/warrenty.svg" class="svg" />
                            @Model.Warranty  @Model.WarrantyUnit Warranty
                        </li>
                    }
                </ul>
            </div>
            <div class="pro-group pb-0">
                <h6 class="product-title">share</h6>
                <ul class="product-social">
                    <li><a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" onclick="return whs_click()" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#" onclick="return twit_click()"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" onclick="return insta_click()"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <section class="tab-product tab-exes creative-card creative-inner">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>Description</a>
                                <div class="material-border"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Specification</a>
                                <div class="material-border"></div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="review-top-tab" data-bs-toggle="tab" href="#top-review" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>Write <span>Review</span></a>
                                <div class="material-border"></div>
                            </li>
                        </ul>
                        <div class="tab-content nav-material" id="top-tabContent">
                            <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                            <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                                <p class="pl-0"> @Html.Raw(Model.Specification)</p>
                                <div class="single-product-tables">
                                    <table>
                                        <tbody id="">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                                <div class="theme-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="mt-3"><b>Rating</b></label>
                                            <div class="media mt-0">
                                                <fieldset class="star-rating">
                                                    <div class="star-rating__stars">
                                                        <input class="star-rating__input" type="radio" name="rating" value="1" id="rating-1" />
                                                        <label class="star-rating__label" for="rating-1" aria-label="One"></label>
                                                        <input class="star-rating__input" type="radio" name="rating" value="2" id="rating-2" />
                                                        <label class="star-rating__label" for="rating-2" aria-label="Two"></label>
                                                        <input class="star-rating__input" type="radio" name="rating" value="3" id="rating-3" />
                                                        <label class="star-rating__label" for="rating-3" aria-label="Three"></label>
                                                        <input class="star-rating__input" type="radio" name="rating" value="4" id="rating-4" />
                                                        <label class="star-rating__label" for="rating-4" aria-label="Four"></label>
                                                        <input class="star-rating__input" type="radio" name="rating" value="5" id="rating-5" />
                                                        <label class="star-rating__label" for="rating-5" aria-label="Five"></label>

                                                    </div>
                                                </fieldset>
                                            </div>
                                            <span class="text-danger d-none" id="hdnratesm">Please Select Star</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Title (Optional)</label>
                                            <input type="text" class="form-control" id="txttitle" placeholder="Enter your Review Subjects">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Review</label>
                                            <textarea class="form-control" id="txtreview" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                                            <span class="text-danger d-none" id="txtreviewsm">Please Enter Review</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Images (Optional)</label>
                                            <input type="file" accept=".jpg,jpeg" class="form-control" id="fileimg" placeholder="Photo" multiple>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-normal" type="submit" onclick="SaveReview('@Model.VariantId')">Submit Your Review</button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="divrate"></div>
        </div>
    </div>
</div>
<script src='../assets/js/xzoom.min.js'></script>
@*<script src='~/js/jquery.hammer.js'></script>*@<script src="~/assets/js/hammer.min.js"></script>
<script>
    (function ($) {
        $(document).ready(function () {
            $('.xzoom, .xzoom-gallery').xzoom({ zoomWidth: 400, title: true, tint: '#333', Xoffset: 15 });
            $('.xzoom2, .xzoom-gallery2').xzoom({ position: '#xzoom2-id', tint: '#ffa200' });
            $('.xzoom3, .xzoom-gallery3').xzoom({ position: 'lens', lensShape: 'circle', sourceClass: 'xzoom-hidden' });
            $('.xzoom4, .xzoom-gallery4').xzoom({ tint: '#006699', Xoffset: 15 });
            $('.xzoom5, .xzoom-gallery5').xzoom({ tint: '#006699', Xoffset: 15 });

            //Integration with hammer.js
            var isTouchSupported = 'ontouchstart' in window;

            if (isTouchSupported) {
                //If touch device
                $('.xzoom, .xzoom2, .xzoom3, .xzoom4, .xzoom5').each(function () {
                    var xzoom = $(this).data('xzoom');
                    xzoom.eventunbind();
                });

                //$('.xzoom, .xzoom2, .xzoom3').each(function () {
                //    var xzoom = $(this).data('xzoom');
                //    $(this).hammer().on("tap", function (event) {
                //        event.pageX = event.gesture.center.pageX;
                //        event.pageY = event.gesture.center.pageY;
                //        var s = 1, ls;

                //        xzoom.eventmove = function (element) {
                //            element.hammer().on('drag', function (event) {
                //                event.pageX = event.gesture.center.pageX;
                //                event.pageY = event.gesture.center.pageY;
                //                xzoom.movezoom(event);
                //                event.gesture.preventDefault();
                //            });
                //        }

                //        xzoom.eventleave = function (element) {
                //            element.hammer().on('tap', function (event) {
                //                xzoom.closezoom();
                //            });
                //        }
                //        xzoom.openzoom(event);
                //    });
                //});

                $('.xzoom4').each(function () {
                    var xzoom = $(this).data('xzoom');
                    $(this).hammer().on("tap", function (event) {
                        event.pageX = event.gesture.center.pageX;
                        event.pageY = event.gesture.center.pageY;
                        var s = 1, ls;

                        xzoom.eventmove = function (element) {
                            element.hammer().on('drag', function (event) {
                                event.pageX = event.gesture.center.pageX;
                                event.pageY = event.gesture.center.pageY;
                                xzoom.movezoom(event);
                                event.gesture.preventDefault();
                            });
                        }

                        var counter = 0;
                        xzoom.eventclick = function (element) {
                            element.hammer().on('tap', function () {
                                counter++;
                                if (counter == 1) setTimeout(openfancy, 300);
                                event.gesture.preventDefault();
                            });
                        }

                        function openfancy() {
                            if (counter == 2) {
                                xzoom.closezoom();
                                $.fancybox.open(xzoom.gallery().cgallery);
                            } else {
                                xzoom.closezoom();
                            }
                            counter = 0;
                        }
                        xzoom.openzoom(event);
                    });
                });

                $('.xzoom5').each(function () {
                    var xzoom = $(this).data('xzoom');
                    $(this).hammer().on("tap", function (event) {
                        event.pageX = event.gesture.center.pageX;
                        event.pageY = event.gesture.center.pageY;
                        var s = 1, ls;

                        xzoom.eventmove = function (element) {
                            element.hammer().on('drag', function (event) {
                                event.pageX = event.gesture.center.pageX;
                                event.pageY = event.gesture.center.pageY;
                                xzoom.movezoom(event);
                                event.gesture.preventDefault();
                            });
                        }

                        var counter = 0;
                        xzoom.eventclick = function (element) {
                            element.hammer().on('tap', function () {
                                counter++;
                                if (counter == 1) setTimeout(openmagnific, 300);
                                event.gesture.preventDefault();
                            });
                        }

                        function openmagnific() {
                            if (counter == 2) {
                                xzoom.closezoom();
                                var gallery = xzoom.gallery().cgallery;
                                var i, images = new Array();
                                for (i in gallery) {
                                    images[i] = { src: gallery[i] };
                                }
                                $.magnificPopup.open({ items: images, type: 'image', gallery: { enabled: true } });
                            } else {
                                xzoom.closezoom();
                            }
                            counter = 0;
                        }
                        xzoom.openzoom(event);
                    });
                });

            } else {
                //If not touch device

                //Integration with fancybox plugin
                $('#xzoom-fancy').bind('click', function (event) {
                    var xzoom = $(this).data('xzoom');
                    xzoom.closezoom();
                    $.fancybox.open(xzoom.gallery().cgallery, { padding: 0, helpers: { overlay: { locked: false } } });
                    event.preventDefault();
                });

                //Integration with magnific popup plugin
                $('#xzoom-magnific').bind('click', function (event) {
                    var xzoom = $(this).data('xzoom');
                    xzoom.closezoom();
                    var gallery = xzoom.gallery().cgallery;
                    var i, images = new Array();
                    for (i in gallery) {
                        images[i] = { src: gallery[i] };
                    }
                    $.magnificPopup.open({ items: images, type: 'image', gallery: { enabled: true } });
                    event.preventDefault();
                });
            }
        });
    })(jQuery);
    function fbs_click() {
        u = location.href;
        t = document.title;
        let url = 'http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t);
        window.location.href = url;
        return false;
    }
    function whs_click() {
        u = location.href;
        let url = 'https://wa.me/' + no + '/?text=' + encodeURIComponent(u);
        window.location.href = url;
    }
    function twit_click() {
        u = location.href;
        t = document.title;
        let url = 'http://www.twitter.com/share?url=' + u;
        window.location.href = url;
        return false;
    }
    function insta_click() {
        u = location.href;
        t = document.title;
        let url = 'http://www.instagram.com/share?url=' + u;
        window.location.href = url;
        return false;
    }
</script>

<!--for image zoom script end-->

<script>
    const readAttributes = () => {
        let attributes = []
        $('#attributeList .attibute').each(function (i, t) {
            attributes.push($(t).find('li.attributeValue.active').text());
        });
        return attributes.join(',');
    };



    $('.btnAddtocart').click(() => {
        let _url = new URL(window.location.href)
        let vId = _url.pathname.replace('/productdetails/', '');
        addToCart(vId);
    });
    $('.btnaddtowishlist').click(() => {
        let _url = new URL(window.location.href)
        let vId = _url.pathname.replace('/productdetails/', '');
        addToWishList(vId);
    });
    $('.btnBuyNow').click(function () {
        let _url = new URL(window.location.href)
        let vId = _url.pathname.replace('/productdetails/', '');
        let param = { VariantID: vId };
        $.post("/AddToCart", param).done(res => {
            if (res.statusCode == -1) {
                Q.notify(res.statusCode, res.responseText)
            }
            else {
                window.location.href = "/CartDetails/";
            }
        }).fail(xhr => Q.xhrError(xhr)).always(() => "")
    });

    $('.attributeValue').unbind().click(e => {
        let ele = $(e.currentTarget);
        ele.parents('ul').find('.attributeValue').removeClass('active');
        ele.addClass('active');
        let _attr = [];
        $('#attributeList').find('.attibute').each(function () {
            let _attData = $(this).find('li.active').data();
            if (_attData) {
                _attr.push(_attData.attrVal);
            }
        })
        let req = {
            variantId,
            attributes: _attr.join(',')
        };
        let attributeName = ele.parents('.attibute').data()?.attributeName;
        getVariantId();
    })

    const getVariantId = async () => {
        let _u = new URL(window.location);
        let qs = _u.pathname.split('/');
        let vId = 0;
        if (qs.length === 3) {
            vId = qs[2]
        }
        let param = {
            VariantId: vId,
            Attributes: readAttributes()
        };
        await $.post('/GetVariantIdByAttributes', param).done(result => {
            if (result.statusCode === 1) {
                let variantID = result.result.variantId;
                Q.rewriteURL('/productdetails/' + variantID);
                getProductAllDetails(variantID);
                loadRating(variantID);
            }
            else {
                $('.btnBuyNow').attr("disabled", "disabled");
                $('.btnAddtocart').attr("disabled", "disabled");
                $('#lblmsg').text('Not Avialable');
                $('.lblmsg').show();
            }
        }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
    };


    var SaveReview = (variantid) => {
        let obj = {
            VariantID: variantid,
            Rating: $('.star-rating__input:checked')?.val() ?? '1',
            Title: $('#txttitle').val(),
            Review: $('#txtreview').val()
        }
        let Images = $("#fileimg").prop("files").length;
        if (obj.Rating == '' && obj.Rating == undefined) {
            $('#hdnratesm').removeClass('d-none');
            return false;
        }
        if (obj.Review == '') {
            $('#txtreviewsm').removeClass('d-none');
            return false;
        }
        $('#hdnratesm').addClass('d-none');
        $('#txtreviewsm').addClass('d-none');
        formData = new FormData();
        formData.append(`VariantID`, obj.VariantID);
        formData.append(`Title`, obj.Title);
        formData.append(`Rating`, obj.Rating);
        formData.append(`Review`, obj.Review);
        for (let i = 0; i < Images; i++) {
            formData.append(`file`, $("#fileimg").prop("files")[i]);
        }
        Q.preloader.load();
        $.ajax({
            type: 'POST',
            url: '/ProductRating',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                Q.notify(response.statusCode, response.responseText)
                if (response.statusCode == 1) {
                    $('#txttitle').val('');
                    $('#txtreview').val('');
                    $('#fileimg').val('');
                }
                Q.preloader.remove();
            },
            error: function (xhr) {
                Q.notify(-1, xhr.responseText)
            },
        });
    }

    $('.thumb-top').click(function () {
        $('.xzoom-gallery').removeClass('xactive');
        let _html = $('#thumbnail').find('a:eq(0)').clone(true);
        $('#thumbnail a:last').after(_html);
        $('#thumbnail').find('a:eq(0)').remove();
        //$('.xzoom-gallery:eq(0)').addClass('xactive');
        $('#thumbnail').find('a:eq(0)').click();
    });

    $('.thumb-bottom').click(function () {
        $('.xzoom-gallery').removeClass('xactive');
        let _html = $('#thumbnail').find('a:last').clone(true);
        $('#thumbnail a:eq(0)').before(_html);
        $('#thumbnail').find('a:last').remove();
        $('.xzoom-gallery:eq(0)').addClass('xactive');
        $('#thumbnail').find('a:eq(0)').click();
    });

</script>