@using Entities.Enums
@using Entities.Models
@using Infrastructure.Interface
@using Service.Models
@model List<HotDealsResponse>
@if (Model.Any())
{
    <div class="col-lg-4 col-md-4  ">
        <div class="hotdeal-right-slick border-0">
            @foreach (var item in Model)
            {
                <a href="/productdetail/@item.ProductID">
                    <div class="img-wrraper">
                        <div>
                            <img src="@item.ImagePath"  onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" alt="hot-deal" class="img-fluid  bg-img">
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-6 col-md-6 deal-order-3">
        <div class="hotdeal-right-slick border-0">
            @foreach (var item in Model)
            {
                <div>
                    <div>
                        <a href="/productdetail/@item.ProductID">
                            <h5>@item.Title</h5>
                        </a>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p>
                            @{
                                string dec = string.IsNullOrEmpty(@item.Description) ? "N/A" : @item.Description;
                            }
                           @dec
                        </p>
                        <h6>@item.SellingCost <span>@item.MRP</span></h6>
                        <div class="timer">
                            <p id="demo">
                            </p>
                        </div>
                        <a href="product-page(left-sidebar).html" class="btn btn-normal btn-md ">shop now</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2 ">
        <div class="hotdeal-right-nav">
            @foreach (var item in Model)
            {
                <div><img src="@item.ImagePath"  onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" alt="hot-dea" class="img-fluid"></div>
            }
        </div>
    </div>
}


<script>
        $('.hotdeal-right-slick').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.hotdeal-right-nav'
        });

        if ($(window).width() > 768) {
            $('.hotdeal-right-nav').slick({
                vertical: true,
                verticalSwiping: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.hotdeal-right-slick',
                arrows: false,
                infinite: true,
                dots: false,
                centerMode: false,
                focusOnSelect: true
            });
        }else{
            $('.hotdeal-right-nav').slick({
                vertical: false,
                verticalSwiping: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.hotdeal-right-slick',
                arrows: false,
                infinite: true,
                centerMode: false,
                dots: false,
                focusOnSelect: true,
                responsive: [{
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }]
             });
         }

          
</script>