@using Entities.Enums
@using WebApp.Models.ViewModels
@model ProductSection;
@{
    var Products = Model.ProductsData.Result.ToArray();
    int ProductLength = Products.Count();
}
<div class="hotdeal-slide-1-section no-arrow">
    @if (Model != null && Model.ProductsData != null && Model.ProductsData.StatusCode == ResponseStatus.Success && Model.ProductsData.Result.Any())
    {
        @for (int j = 0; j < ProductLength; j = j + 3)
        {
            <div class="media-banner">
                <div class="media-banner-box">
                    <div class="media-heading">
                        <h5>New Products</h5>
                    </div>
                </div>
                <div class="media-banner-box">
                    <div class="media">
                        <a href="/productdetails/@Products[j].VariantID">
                            <img src="@Products[j].ImagePath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid" alt="banner">
                        </a>
                        <div class="media-body">
                            <div class="media-contant">
                                <div>
                                    <div class="product-detail">
                                        <ul class="rating">
                                                  @for (var i = 0; i < Products[j].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star"></i></li>
                                                    }
                                                    @for (var i = 0; i < 5 - Products[j].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    }
                                        </ul>
                                        <a href="/productdetails/@Products[j].VariantID"><p>@Products[j].Title</p></a>
                                        <h6>@Products[j].SellingCost <span>@Products[j].MRP</span></h6>
                                    </div>
                                    <div class="cart-info">
                                        <button onclick="openCart()" class="addtocart" data-variant-id="@Products[j].VariantID">
                                            <img src="~/Image/icons/cart-mini.svg" class="svg">
                                        </button>
                                        <button class="addtowishlist" data-variant-id="@Products[j].VariantID">
                                            <img src="~/Image/icons/wishlist-b.svg" class="svg">
                                        </button>
                                        <button onclick="openCart()" class="productdetail" data-variant-id="@Products[j].VariantID">
                                            <img src="~/Image/icons/info.svg" class="svg">
                                        </button>
                                        <button class="addtocart" data-variant-id="@Products[j].VariantID">
                                            <img src="~/Image/icons/compare.svg" class="svg">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((j+1) < ProductLength)
                {
                    <div class="media-banner-box">
                        <div class="media">
                            <a href="/productdetails/@Products[j+1].VariantID">
                                <img src="@Products[j+1].ImagePath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid " alt="banner">
                            </a>
                            <div class="media-body">
                                <div class="media-contant">
                                    <div>
                                        <div class="product-detail">
                                            <ul class="rating">
                                                       @for (var i = 0; i < Products[j+1].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star"></i></li>
                                                    }
                                                    @for (var i = 0; i < 5 - Products[j+1].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    }
                                            </ul>
                                            <a href="/productdetails/@Products[j+1].VariantID"><p>@Products[j+1].Title</p></a>
                                            <h6>@Products[j+1].SellingCost <span>@Products[j+1].MRP</span></h6>
                                        </div>
                                        <div class="cart-info">
                                            <button onclick="openCart()" class="addtocart" data-variant-id="@Products[j+1].VariantID">
                                                <img src="~/Image/icons/cart-mini.svg" class="svg" />
                                            </button>
                                            <button class="addtowishlist" data-variant-id="@Products[j+1].VariantID">
                                                <img src="~/Image/icons/wishlist-b.svg" class="svg" />
                                            </button>
                                            <button class="productdetail" data-variant-id="@Products[j+1].VariantID">
                                                <img src="~/Image/icons/info.svg" class="svg" />
                                            </button>
                                            <button class="addtocart" data-variant-id="@Products[j+1].VariantID">
                                                <img src="~/Image/icons/compare.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if ((j + 2) < ProductLength)
                {
                    <div class="media-banner-box">
                        <div class="media">
                            <a href="/productdetails/@Products[j+2].VariantID">
                                <img src="@Products[j+2].ImagePath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid " alt="banner">
                            </a>
                            <div class="media-body">
                                <div class="media-contant">
                                    <div>
                                        <div class="product-detail">
                                            <ul class="rating">
                                                       @for (var i = 0; i < Products[j+2].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star"></i></li>
                                                    }
                                                    @for (var i = 0; i < 5 - Products[j+2].Rating; i++)
                                                    {
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    }
                                            </ul>
                                            <a href="/productdetails/@Products[j+2].VariantID"><p>@Products[j+2].Title</p></a>
                                            <h6>@Products[j+2].SellingCost <span>@Products[j+2].MRP</span></h6>
                                        </div>
                                        <div class="cart-info">
                                            <button onclick="openCart()" class="addtocart" data-variant-id="@Products[j+2].VariantID">
                                                <img src="~/Image/icons/cart-mini.svg" class="svg" />
                                            </button>
                                            <button class="addtowishlist" data-variant-id="@Products[j+2].VariantID">
                                                <img src="~/Image/icons/wishlist-b.svg" class="svg" />
                                            </button>
                                            <button class="productdetail" data-variant-id="@Products[j+2].VariantID">
                                                <img src="~/Image/icons/info.svg" class="svg" />
                                            </button>
                                            <button class="addtocart" data-variant-id="@Products[j+2].VariantID">
                                                <img src="~/Image/icons/compare.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="media-banner-box">
                   @* <div class="media-view">
                        <h5>View More</h5>
                    </div>*@
                </div>
            </div>

        }
    }
</div>


<script>
    $('.hotdeal-slide-1-section').slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true
            }
        },
        {
            breakpoint: 992,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true
            }
        },
        {
            breakpoint: 767,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
        },
        {
            breakpoint: 490,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }]
    });

    $('.productdetail').click(e => {
        let vId = $(e.currentTarget).data().variantId;
        window.location.href = "/productdetails/" + vId;
    })
</script>