@using Entities.Enums
@using WebApp.Models.ViewModels
@model TopBannerDashBoard;
<style>
    .shop a.btn {
        border: 1px solid;
        position: absolute;
        bottom: 17px;
        right: 18px;
        padding: 4px;
        font-size: 13px;
        font-weight: 300 !important;
        color:#fff!important;
    }
</style>
<section class="theme-slider home-slide b-g-white custom-container" id="home-slide">
    <div class="slide-1">
        @if (Model != null && Model.topBanner.Any())
        {
            int i = 0;
            var banner = Model.topBanner;
            foreach (var item in banner)
            {
                i++;
                <div class="slider-banner p-center slide-banner-1">
                    <div class="slider-img">
                        <ul class="layout1-slide-2">
                            <li id="img-3" class="slide-center">
                                <img src="@item.BannerPath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid" alt="slider" @Html.Raw(i==1?"":"loading='lazy'")>
                            </li>
                        </ul>
                    </div>
                    <div class="slider-banner-contain">
                        <h1><span>@item.Title</span></h1>
                        <h4>@item.Subtitle</h4>
                        @if (!string.IsNullOrEmpty(item.BackLinkText))
                        {
                            <a href="@item.BackLinkURL" class="btn btn-normal">
                                @item.BackLinkText
                            </a>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="slider-banner p-center slide-banner-1">
                <div class="slider-img">
                    <ul class="layout1-slide-2">
                        <li id="img-3" class="slide-center">
                            <img src="/Image/default-banner.jpg" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid" alt="slider" loading="lazy">
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</section>

@if (Model != null && Model.topLowBanner.Any())
{
    var topLowBanner = Model.topLowBanner;
    <section class="collection-banner section-pt-space b-g-white custom-container">
        <div class="row collection2">
            @foreach (var item in topLowBanner)
            {
                <div class="col-md-4">
                    <div class="collection-banner-main banner-1  p-right">
                        <div class="collection-img">
                            <img src="@item.BannerPath" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid bg-img" alt="banner">
                        </div>
                        <div class="collection-banner-contain">

                            <h3>@item.Title</h3>
                            <h4>@item.Subtitle</h4>
                            @if (!string.IsNullOrEmpty(@item.BackLinkText))
                            {
                                <div class="shop">
                                    <a href="@item.BackLinkURL" class="btn">
                                        @item.BackLinkText
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
<script>
    $('.slide-1').slick({
        autoplay: true,
        autoplaySpeed: 2500,
        nav: true,
        dots: false,
    });
</script>