@using AppUtility.APIRequest
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop 99</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    @RenderSection("Metatags", required: false)
    <link rel="shortcut icon" href="/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" async />
    <link rel="stylesheet" type="text/css" href="~/assets/css/color2.css" media="screen" id="color" />
    <style>
        @@media (min-width: 800px) and (max-width: 2500px) {
            #main-menu {
                display: flex;
            }

            #ico {
                display: flex;
            }
        }

        #resultsList {
            position: absolute;
            top: 37px;
            z-index: 99999;
            background: #fff;
            width: 100%;
            overflow-y: auto;
            max-height: 500px;
            height: auto;
        }

            #resultsList li {
                display: block;
                padding: 5px;
                border-bottom: 1px solid #eee;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                #resultsList li a {
                    color: #000;
                }

    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5M9KYWPJSP"></script>
    <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-5M9KYWPJSP');
    </script>
</head>
<body class="bg-light">
    <header id="stickyheader">
        <div class="mobile-fix-option">
            <div class="bottom-icon-block">

                <ul class="cus-mobile-menu">
                    <li class="mobile-user openMenu">
                        <a href="javascript:void(0)">
                            <img src="/Image/icons/1.svg" />
                        </a>
                    </li>
                    @if (!User.IsInRole(nameof(RoleEnum.ADMIN)))
                    {
                        <li class="mobile-wishlist item-count openWishList">
                            <a href="javascript:void(0)">
                                <img src="/Image/icons/2.svg" />
                                <div class="wishlist-count">
                                </div>
                            </a>
                        </li>
                        <li class="mobile-cart item-count openCartSlide">
                            <a href="javascript:void(0)">
                                <div class="cart-block">
                                    <div class="cart-icon">
                                        <img src="/Image/icons/3.svg" />
                                    </div>
                                </div>
                            </a>
                            <div class="cart-count"></div>
                        </li>
                        <li class="for-filter-mobile  mobile-setting" onclick="openSetting()">
                            <a href="javascript:void(0)">
                                <img src="/Image/icons/m-1.svg" />
                            </a>
                        </li>
                    }

                </ul>

            </div>
        </div>
        <div class="layout-header2">
            <div class="custom-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu-block">
                            <div class="header-left">
                                <div class="brand-logo logo-sm-center">
                                    <a href="/">
                                        <img src="@Websiteinfomation.Whitelogo" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid  " alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="input-block">
                                <div class="input-box">
                                    <form class="big-deal-form">
                                        <div class="input-group ">
                                            <input type="search" class="form-control SearchProduct" id="searchproduct" placeholder="Search a Product">
                                            <div class="input-group-text">
                                                <span class="search"><i class="fa fa-search"></i></span>
                                            </div>
                                            <ul id="resultsList"></ul>
                                        </div>
                                    </form>
                                    @if (!Context.User.Identity.IsAuthenticated)
                                    {
                                        <div>
                                            <a class="top-login-btn" href="/account/login">Login</a>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div id="dvAutoSuggestion"></div>
                            <div class="header-right d-flex">

                                <div class="icon-block">
                                    <ul class="cus-mobile-menu">
                                        <li class="mobile-user openMenu">
                                            <a href="javascript:void(0)">
                                                <img src="/Image/icons/1.svg" />
                                            </a>
                                        </li>
                                        @if (!User.IsInRole(nameof(RoleEnum.ADMIN)))
                                        {
                                            <li class="mobile-wishlist item-count openWishList">
                                                <a href="javascript:void(0)">
                                                    <img src="/Image/icons/2.svg" />
                                                    <div class="wishlist-count">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="mobile-cart item-count openCartSlide">
                                                <a href="javascript:void(0)">
                                                    <div class="cart-block">
                                                        <div class="cart-icon">
                                                            <img src="/Image/icons/3.svg" />
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="cart-count"></div>
                                            </li>
                                            <li class="for-filter-mobile  mobile-setting" onclick="openSetting()">
                                                <a href="javascript:void(0)">
                                                    <img src="/Image/icons/m-1.svg" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="menu-nav">
                                    <span class="toggle-nav">
                                        <i class="fa fa-bars "></i>
                                    </span>
                                </div>
                                <div id="mySetting" class="add_to_cart right">
                                    <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
                                    <div class="cart-inner">
                                        <div class="cart_top">
                                            <h3>Filter</h3>
                                            <div class="close-cart">
                                                <a href="javascript:void(0)" onclick="closeSetting()">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="setting-block">
                                            <div class="_1KOcBL d-none" id="dvfilter">
                                                <div class="_2q_g77">
                                                    <div class="collection-filter-block creative-inner category-side">
                                                        <div id="dvfilters"></div>
                                                    </div>
                                                </div>
                                                <div class="_2q_g77">
                                                    <div class="collection-collapse-block p-3">
                                                        <h3 class="collapse-block-title mt-0">Price</h3>
                                                        <div class="collection-collapse-block-content">
                                                            <div class="collection-brand-filter">
                                                                <div class="range mt-5">
                                                                    <div class="range-slider">
                                                                        <span class="range-selected"></span>
                                                                    </div>
                                                                    <div class="range-input">
                                                                        <input type="range" class="min" min="0" max="1000" value="300" step="10">
                                                                        <input type="range" class="max" min="0" max="1000" value="700" step="10">
                                                                    </div>
                                                                    <div class="range-price p-2">
                                                                        <label for="min">Min</label>
                                                                        <input type="number" name="min" value="300">
                                                                        <label for="max">Max</label>
                                                                        <input type="number" name="max" value="700">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="for-mobile">
                            <form class="big-deal-form ">
                                <div class="input-group ">
                                    <input type="search" class="form-control SearchProduct" id="SearchProduct" onkeyup="searchproduct1(this)" placeholder="Search a Product">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="searchbar-input">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="/Image/icons/m-3.svg" />
                    </span>
                    <input type="text" class="form-control SearchProduct" placeholder="search your product">
                    <span class="input-group-text close-searchbar">
                        <img src="/Image/icons/cross.svg" />
                    </span>
                </div>
            </div>
        </div>
        <div class="category-header-2">
            <div class="custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-menu">
                            <div class="logo-block">
                                <div class="brand-logo logo-sm-center">
                                    <a href="/">
                                        <img src="@Websiteinfomation.Coloredlogo" class="img-fluid  " alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="menu-block">
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-right">
                                                Back<i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                                                <a class="top-login-btn-mobile" href="/account/login">Login</a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dark-menu-item" href="/Home/Index">Home</a>
                                        </li>
                                        @(await Component.InvokeAsync("TopMenu"))
                                    </ul>
                                </nav>
                            </div>
                            <div class="icon-block">
                                <ul id="ico">
                                    <li class="mobile-search">
                                        <a href="javascript:void(0)">
                                            <img src="~/Image/icons/mobile-search.svg" />
                                        </a>
                                    </li>
                                    <li class="mobile-user onhover-dropdown openMenu">
                                        <a href="javascript:void(0)">
                                            <img src="~/Image/icons/profile.svg" />
                                        </a>
                                    </li>
                                    <li class="mobile-wishlist item-count openWishList">
                                        <a href="javascript:void(0)">
                                            <img src="~/Image/icons/wishlist-b.svg" />
                                            <div class="wishlist-count">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mobile-cart item-count openCartSlide">
                                        <a href="javascript:void(0)">
                                            <img src="~/Image/icons/cart-b.svg" />
                                        </a>
                                        <div class="cart-count">
                                        </div>
                                    </li>

                                    @if (!Context.User.Identity.IsAuthenticated)
                                    {
                                        <li class="mobile-setting">
                                            <a href="/account/login">
                                                <img src="~/Image/icons/Login.svg" />
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchbar-input">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="~/Image/icons/search.svg" />
                    </span>
                    <input type="text" class="form-control SearchProduct" placeholder="search your product">
                    <span class="input-group-text close-searchbar">
                        <img src="/Image/icons/cross.svg" />
                    </span>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="footer1">
            <div class="custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-main">
                            <div class="footer-box">
                                <div class="footer-title mobile-title">
                                    <h5>about</h5>
                                </div>
                                <div class="footer-contant">
                                    <div class="footer-logo">
                                        <a href="/">
                                            <img src="@Websiteinfomation.Whitelogo" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" class="img-fluid" alt="logo">
                                        </a>
                                    </div>
                                    <p>Best for a Limitless Product Inventory</p>
                                    <ul class="paymant">
                                        <li><a href="javascript:void(0)"><img src="~/assets/images/layout-1/pay/1.png" class="img-fluid" alt="pay"></a></li>
                                        <li><a href="javascript:void(0)"><img src="~/assets/images/layout-1/pay/2.png" class="img-fluid" alt="pay"></a></li>
                                        <li><a href="javascript:void(0)"><img src="~/assets/images/layout-1/pay/3.png" class="img-fluid" alt="pay"></a></li>
                                        <li><a href="javascript:void(0)"><img src="~/assets/images/layout-1/pay/4.png" class="img-fluid" alt="pay"></a></li>
                                        <li><a href="javascript:void(0)"><img src="~/assets/images/layout-1/pay/5.png" class="img-fluid" alt="pay"></a></li>
                                    </ul>
                                    <div class="footer-left mt-5">
                                        <p>@Websiteinfomation.Footerdescription</p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>my account</h5>
                                </div>
                                <div class="footer-contant">
                                    <ul>
                                        <li><a href="/aboutus">about us</a></li>
                                        <li><a href="/privacypolicy">privacy policy</a></li>
                                        <li><a href="/terms">terms &amp; conditions</a></li>
                                        <li><a href="/refund">Shipping & Returns</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>contact us</h5>
                                </div>
                                <div class="footer-contant">
                                    <ul class="contact-list">
                                        <li><i class="fa fa-map-marker"></i>@Websiteinfomation.Companyaddress, <span> </span></li>
                                        <li><i class="fa fa-phone"></i>call us: <span>@Websiteinfomation.Companymobile</span></li>
                                        <li><i class="fa fa-envelope-o"></i>email us: <span>@Websiteinfomation.CompanyemailID</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>newsletter</h5>
                                </div>
                                <div class="footer-contant">
                                    <div class="newsletter-second">
                                        <div class="form-group">
                                        </div>
                                        <div class="form-group ">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="textemail" placeholder="enter email address">
                                                <span class="input-group-text" id="btnNewsLetter"><i class="fa fa-send-o"></i></span>
                                            </div>
                                        </div>
                                        <div class="footer-right">
                                            <ul class="sosiyal">
                                                <li>
                                                    <a href="https://www.facebook.com/Shop99.co?mibextid=ZbWKwL" target="_blank">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Add to cart bar -->
    <div id="cart_side" class="add_to_cart top "></div>
    <div id="wishlist_side" class="add_to_cart right"></div>

    @(await Component.InvokeAsync("SlideMenu"))
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
  
    <script src="~/assets/js/menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="~/assets/js/tippy-popper.min.js"></script>
    <script src="~/assets/js/tippy-bundle.iife.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/corelib.js"></script>
    <script src="~/clientapp/js/shoppingutility.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>