@using Entities.Enums;
@using Entities.Models;
@model InventoryRequest
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col-md-8 col-sm-6">
                    <h2 class="float-left">
                        Inventory List
                    </h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="d-flex">
                        <select class="form-control" id="status" onchange="loadData();">
                            <option value="@StatusType.All">@StatusType.All.ToString()</option>
                            <option value="@StatusType.LowStock">@StatusType.LowStock.ToString()</option>
                        </select>

                        <a href="/Report/InventoryLedger" class="btn btn-success ml-2">InventoryList</a>
                    </div>
                </div>

                <div class="col-md-12 mt-2">
                    <div class="col-md-12 mt-2">
                        <table class="table table-bordered" id="Grid">
                            <thead>
                                <tr role="row">
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Variant</th>
                                    <th>Qty</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(() => {
            let modelval = '@Model.Status';
            if (modelval)
                $('#status').val(modelval);
            loadData();
        })
        var loadData = () => {
            $.post('/Report/InventoryList', { Status: $('#status').val() }).done(function(result) {
                $('#Grid tbody').html(result);
            }).fail(function(xhr) {
            })
        };
    </script>
}