@using Entities.Models
@using Service.Models
@using Entities.Enums;
@model Response<IEnumerable<UserAddress>>
@{
    bool isAddressExist = false;
}
<div class="checkout-title">
    <h3>Billing Details</h3>
</div>
<div class="theme-form d-none" id="dvshowaddress">
    <div class="row check-out ">
        <div class="col-md-12 col-sm-12 col-xs-12  ">
            <h3 class="box-title">Select Your Address</h3>
            @if (Model.StatusCode == ResponseStatus.Success && Model.Result.Any())
            {
                isAddressExist = true;
                @foreach (var item in Model.Result)
                {
                    <div class="box">
                        <div class="plan-selection">
                            <div class="plan-data">
                                @{
                                    string address = @item.HouseNo + " " + @item.Area + " " + @item.Landmark + " " + @item.Pincode + " " + @item.StateName;
                                    string checkedd = @item.IsDefault ? "checked" : "";
                                    string AddressType = @item.AddressType != "" ? "(" + @item.AddressType + ")" : "";
                                }
                                <input  name="address" type="radio" class="with-font" data-address-id="@item.Id" @checkedd>
                                <label for="address1">@item.FullName @item.AddressType</label>
                                <p class="plan-text">
                                    @address
                                </p>
                                <span class="plan-price"><i class="fa fa-edit"></i></span>
                            </div>
                        </div>

                    </div>
                }

            }
            <div class="text-right"><a href="javascript:void(0)" class="btn-normal btn " id="btnaddress">Add New Address</a></div>
        </div>

    </div>
</div>


<div class="theme-form d-none" id="dvAddAddress">
    <div class="row check-out ">
        <form id="AddressForm">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label>Name</label>
                <input type="text" name="FullName" value="" maxlength="150" placeholder="">
                <span class="FullName text-danger clr"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label> Mobile No</label>
                <input type="number" name="MobileNo" value="" maxlength="10" placeholder="">
                <span class="MobileNo text-danger clr"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="field-label">House Number/Flat Number</label>
                <input type="text" name="HouseNo" value="" maxlength="250">
                <span class="HouseNo text-danger clr"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">Area</label>
                    <input type="text" name="Area" value="" maxlength="250" placeholder="">
                    <span class="Area text-danger clr"></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">Landmark</label>
                    <input type="text" name="Landmark" value="" maxlength="100" placeholder="">
                    <span class="Landmark text-danger clr"></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">Town/City</label>
                    <input type="text" name="TownCity" value="" maxlength="100" placeholder="">
                    <span class="TownCity text-danger clr"></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">State</label>
                    <select name="StateID" id="StateID">
                        <option value="">Select State</option>
                        <option value="27">Uttar Pradesh</option>
                    </select>
                    <span class="StateID text-danger clr"></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">Address Type</label>
                    <select name="AddressTypeID" id="AddressTypeID">
                        <option value="">Select Address Type</option>
                        <option value="1">Office Address</option>
                        <option value="2">Home Address</option>
                    </select>
                    <span class="AddressTypeID text-danger clr"></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label class="field-label">Postal Code</label>
                    <input type="text" name="Pincode" value="" placeholder="">
                    <span class="Pincode text-danger clr"></span>
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="javascript:void(0)" class="btn-normal btn" id="btnSubmit">Submit</a>
                <a href="javascript:void(0)" class="btn-normal btn" id="btnCancle">Cancle</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@isAddressExist' == 'True') {
            $("#dvshowaddress").removeClass("d-none");
        }
        else {
            $("#dvAddAddress").removeClass("d-none");
        }
    });
    $('#btnaddress').click(function () {
        $("#dvshowaddress").addClass("d-none");
        $("#dvAddAddress").removeClass("d-none");
    })
    $('#btnCancle').click(function () {
        $("#dvshowaddress").removeClass("d-none");
        $("#dvAddAddress").addClass("d-none");
         loadAddressDetails();
    })
    $(document).on('click', '#btnSubmit', () => {
        let param = {
            FullName: $('input[name="FullName"]').val(),
            MobileNo: $('input[name="MobileNo"]').val(),
            HouseNo: $('input[name="HouseNo"]').val(),
            Area: $('input[name="Area"]').val(),
            Landmark: $('input[name="Landmark"]').val(),
            TownCity: $('input[name="TownCity"]').val(),
            Pincode: $('input[name="Pincode"]').val(),
            StateID: $('#StateID').val(),
            AddressTypeID: $('#AddressTypeID').val()
        };
        $('.clr').text('');
        $.post('/SaveAddress', param).done((result) => {
            Q.notify(result.statusCode, result.responseText);
            if (result.statusCode == '1') {
                $('#AddressForm').each(function () {
                    this.reset();
                });
            }
            $.each(result,(k,v)=>{
                if (v.validationState == '1'){
                    $(`.${k}`).text(`${v.errors[0].errorMessage}`);
                    console.log(v.errors[0].errorMessage);
                }
            })
        })
    })
</script>
