@using Entities.Models
@using Service.Models
@using Entities.Enums;
@model Response<CartItemsTotalVM>
@{
    bool IsCod = Model.Result?.CartItemSlides?.Any(x => x.IsCod) ?? false;
    string isCodChecked = IsCod ? "checked" : "";
    decimal SubTotal = 0;
    decimal Off = 0;
    decimal Total = 0;
    decimal spdis = 0;
    string distp = string.Empty;
    decimal totaldiscountAmount = 0;
    bool IsFixed = Model.Result.CartItemSlides?.FirstOrDefault().IsFixed ?? false;
    bool IsCouponApplied = Model.Result.CartItemSlides?.FirstOrDefault().IsCouponApplied ?? false;
    decimal userwalletamount = Model.Result?.CartItemSlides?.Select(x => x.UserWalletAmount).FirstOrDefault() ?? 0.0M;
}

<style>
    .cart-pro-price {
        text-decoration: line-through;
        color: #777777 !important;
        font-size: 80% !important;
        font-weight: 500 !important;
    }

    .text-right {
        text-align: right;
    }

</style>
<div class="checkout-details theme-form  section-big-mt-space">
    <div class="order-box">
        <div class="title-box">
            <div>Product <span>Total</span></div>
        </div>
        <ul class="qty">
            @if (Model.StatusCode == ResponseStatus.Success && Model.Result.CartItemSlides.Any())
            {
                @foreach (var item in Model.Result.CartItemSlides)
                {
                    decimal discountAmount = 0M;
                    @*  <li><span>mrp <i class="fa fa-inr"></i> @(item.MRP*item.Qty)</span></li>*@
                    <li> <div class="row"> <div class="col-md-7">@item.Title × @item.Qty</div><div class="col-md-5 text-right"><span class="cart-pro-price"> <i class="fa fa-inr"></i> @(item.MRP * item.Qty)</span> <span>  <i class="fa fa-inr" aria-hidden="true"></i> @(item.SellingCost * item.Qty)</span></div></div>  </li>
                    distp = item.Discounttype;
                    spdis = item.SpecialDiscount;
                    SubTotal = (SubTotal + item.SellingCost * item.Qty);
                    Off = Off + ((item.MRP * item.Qty) - (item.SellingCost * item.Qty));
                    if (distp == "F")
                    {
                        discountAmount = spdis;
                        SubTotal = SubTotal - spdis;
                    }
                    else
                    {
                        discountAmount = (SubTotal * spdis) / 100;
                        SubTotal = SubTotal - discountAmount;
                    }
                    totaldiscountAmount = totaldiscountAmount + discountAmount;
                }
                Total = SubTotal;
            }
        </ul>
        <ul class="sub-total">
            @if (Off > 0)
            {
                <li><div class="row"><div class="col-md-7">Off</div><div class="col-md-5 text-right"> <span class="count"><i class="fa fa-inr" aria-hidden="true"></i> @Off</span></div></div></li>
            }
            @if (totaldiscountAmount > 0)
            {
                <li><div class="row"><div class="col-md-7">Special Discount</div><div class="col-md-5 text-right"> <span class="count"><i class="fa fa-inr" aria-hidden="true"></i> @totaldiscountAmount.ToString("0.00")</span></div></div></li>
            }

            <li><div class="row"><div class="col-md-7">Subtotal</div><div class="col-md-5 text-right"> <span class="count"><i class="fa fa-inr" aria-hidden="true"></i> @SubTotal.ToString("0.00")</span></div></div></li>

            <li>
                <div class="row">
                    <div class="col-md-7">Shipping</div>
                    <div class="col-md-5 text-right"><span class="count"><i class="fa fa-inr" aria-hidden="true"></i> <del>50</del></span></div>
                </div>
            </li>
            <!-- Coupon Section -->
            <li>
                <div class="box p-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pro-group">
                                <div class="product-offer">
                                    <div class="offer-contain">
                                        <div class="pull-right" style="display:none;">
                                            <span class="btn-normal btn" id="btnAutocoupon">Apply</span>
                                        </div>
                                        <ul id="appliedCoupons">
                                            @if (Model.Result.Coupons.Any())
                                            {
                                                var coupon = Model.Result.Coupons.FirstOrDefault();
                                                @if (coupon.IsAutoApply)
                                                {
                                                    <li data-coupon-code="@coupon.CouponCode" data-is-fixed="@coupon.IsFixed" data-coupon-value="@coupon.DiscountAmount" data-is-autoapply="@Convert.ToString(coupon.IsAutoApply).ToLower()" style="display:none;">
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        <span>
                                            <a href="javascript:void(0);" id="btnallcoupon">All Coupon</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <!-- End Coupon Section -->
        </ul>
        <ul class="total">
            <li>
                <div class="row">
                    <div class="col-md-7">Total</div>
                    <div class="col-md-5 text-right">
                        <span class="count">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <label id="totalPayable" data-total-payable="@Total.ToString("0.00")">@Total.ToString("0.00")</label>
                        </span>
                    </div>
                </div>
            </li>
            @if (userwalletamount >= 1)
            {
                <li>
                    <div class="row">
                        <div class="col-md-7">Wallet Amount</div>
                        <div class="col-md-5 text-right">
                            <span class="count">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <label id="UWA" data-total-payable="@userwalletamount">@userwalletamount</label>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-7">Payable Amount</div>
                        <div class="col-md-5 text-right">
                            <span class="count">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <label id="PA" data-total-payable="@(Total - userwalletamount)">@(Total - userwalletamount)</label>
                            </span>
                        </div>
                    </div>
                </li>
            }
            
        </ul>
    </div>
    <div class="payment-box">
        <div class="upper-box">
            <div class="payment-options">
                <div class="main">
                    <input type="checkbox" hidden id="IsCod" @isCodChecked />
                    <h3 class="box-title">Select Payment Method</h3>
                    <div class='payments' id="dvPaymentModes"></div>
                </div>
            </div>
        </div>
        <div class="text-right"><a href="javascript:void(0)" class="btn-normal btn btnPlaceOrder" id="btnPlaceOrder">Place Order</a></div>
    </div>
</div>