@using Entities.Models;
@model IEnumerable<ProductVariantAttributeDetails>
<input type="hidden" id="ID" value="@Model" />

<div class="content-header clearfix">
    <h1 class="float-left">
        Variants
        <small>
            <i class="fas fa-arrow-circle-left"></i>
            <a href="/Product">back to product list</a>
        </small>
    </h1>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="Grid">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Selling Cost</th>
                                <th>HSN</th>
                                <th>Quantity</th>
                                <th>GTIN</th>
                                <th>Featured</th>
                                <th>Show on Home</th>
                                <th>IsPublish</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                int counter = 0;
                                foreach (var item in Model)
                                {
                                    counter++;
                                    <tr>
                                        <td>@counter</td>
                                        <td>@item.Title</td>
                                        <td>@item.MRP</td>
                                        <td>@item.SellingCost</td>
                                        <td>@item.HSN</td>
                                        <td><input type="number" class="form-control item-quantity w-75" min="1" maxlength="10" data-variantid="@item.Id" value="@item.Quantity"> </td>
                                        <td>@item.GTIN</td>
                                        <td>@item.IsFeatured</td>
                                        <td>@item.IsShowOnHome</td>
                                        <td>
                                            <span class="switch switch-sm">
                <input type="checkbox" class="switch" onclick="UpdateIspublish('@item.Id')" id="Ispublish_@item.Id" @Html.Raw(item.IsPublished ? "checked='checked'" : "")>
                <label for="Ispublish_@item.Id"></label>
                </span>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" onclick="loadPartial('@item.Id')">View Attribute </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
<script>

    var loadPartial = function (Id = 0) {
            ///Product/VariantAttributeList
        $.post('/Product/VariantDetail', { Id }).done((result) => {
            Q.alert({
                title: 'Attribute List',
                body: result,
                width: 600
            });
        })
    };
    $('.item-quantity').on('focusin', function(){
        console.log("Saving value " + $(this).val());
        $(this).data('val', $(this).val());
    });
    $('.item-quantity').blur(function(){
    var prevQty = $(this).data('val');
    var vid = $(this).data('variantid');
    var currentQty = $(this).val();
    if(currentQty<=0)
    {
        Q.notify(-1,'Minimum 1 Quantity Required.');
        return;
    }
    if(currentQty!=prevQty && currentQty>=1)
    {
          $.post('/Product/VariantQuantityUpdate', {v:vid,q:currentQty}).done(function (result) {
                Q.notify(result.statusCode,result.responseText);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
    }
    });
    var UpdateIspublish = function(Id) {
            let IsPublish = false;
            if ($('#Ispublish_' + Id).is(":checked")) {
                IsPublish = true;
            }
            let obj = {
                Id: Id,
                IsPublish: IsPublish
            }
            $.post('/Product/UpdateIsPublishVariant', obj).done(function(result) {
                console.log(result);
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode == 1) {
                    loadData();
                }
            }).fail(function(xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        }
</script>
}
