@model WebApp.Models.ViewModels.VariantDetailVM
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Title</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.Title" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.MRP" />
        </div>
        <div class="form-group">
            <label>Selling Cost</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.SellingCost" />
        </div>
        <div class="form-group">
            <label>HSN</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.HSN" />
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.Quantity" />
        </div>
        <div class="form-group">
            <label>GTIN</label>
            <input name="" class="form-control" value="@Model.variantDetailsByAttributes.GTIN" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="IsFeatured" id="IsFeatured_@Model.variantDetailsByAttributes.Id" class="mt-0" @Html.Raw(Model.variantDetailsByAttributes.IsFeatured ? "checked='checked'" : "")>
                        </div>
                    </div>
                    <label class="form-control" for="IsFeatured_@Model.variantDetailsByAttributes.Id">IsFeatured</label>
                </div>

                <div class="col-sm-4 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="IsFeatured" id="IsShowOnHome_@Model.variantDetailsByAttributes.Id" class="mt-0" @Html.Raw(Model.variantDetailsByAttributes.IsShowOnHome ? "checked='checked'" : "")>
                        </div>
                    </div>
                    <label class="form-control" for="IsShowOnHome_@Model.variantDetailsByAttributes.Id">IsShowOnHome</label>
                </div>

                <div class="col-sm-4 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="IsFeatured" id="IsPublished_@Model.variantDetailsByAttributes.Id" class="mt-0" @Html.Raw(Model.variantDetailsByAttributes.IsPublished ? "checked='checked'" : "")>
                        </div>
                    </div>
                    <label class="form-control" for="IsPublished_@Model.variantDetailsByAttributes.Id">IsPublished</label>
                </div>
            </div>
        </div>
        @*<button type="button" class="btn btn-sm btn-info btnAddNewAttribute mb-2 float-right" onclick="AddNewAttribute('@Model.variantDetailsByAttributes.Id')">Add Attribute</button>*@
        @{
            string color = "";
            try
            {
                color = Model.PictureInformation.ToList().FirstOrDefault().Color;
            }
            catch (Exception ex)
            {
                
            }
        }
        <div class="form-group">
            <table class="table table-bordered" id="Grid">
                <thead>
                    <tr role="row">
                        <th>#</th>
                        <th>Attribute Name</th>
                        <th>Attribute Value</th>
                        @*<th>Action</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Attributes.Any())
                    {
                        int counter = 0;
                        foreach (var item in Model.Attributes)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>@item.AttributeName</td>
                                <td>@item.AttributeValue</td>
                                @*<td><span class="btn btn-danger rmImage" onclick="DeleteImage('@Model.variantDetailsByAttributes.Id')"><i class="fa fa-times"> </i><span></span></span></td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-sm btn-info btnAddNewImage mb-2 float-right" onclick="AddNewimage('@Model.variantDetailsByAttributes.Id','@color','@Model.variantDetailsByAttributes.Title')">Upload Image</button>
        <div class="form-group">
            <table class="table table-bordered" id="Grid">
                <thead>
                    <tr role="row">
                        <th>#</th>
                        <th>Picture</th>
                        <th>Display Order</th>
                        <th>Alt</th>
                        <th>Title</th>
                        <th>Color</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PictureInformation.Any())
                    {
                        int counter = 0;
                        foreach (var item in Model.PictureInformation)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td><img src="@item.ImagePath" alt="@item.Alt" class="img-fluid" /></td>
                                <td>@item.DisplayOrder</td>
                                <td>@item.Alt</td>
                                <td>@item.Title</td>
                                <td>@item.Color</td>
                                <td><span class="btn btn-danger rmImage" onclick="DeleteImage('@Model.variantDetailsByAttributes.Id','@item.Id','@item.ImagePath')"><i class="fa fa-times"> </i><span></span></span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>