@using Entities.Enums
@using Entities.Models
@model IEnumerable<ProductVariantAttributeDetails>
@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td class="align-middle">
                <div class="btn-group dropup">
                    <a href="#" id="act_@counter" class="btn btn-outline-dark btn-block dropdown-toggle" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expaned="false"></a>
                    <div class="dropdown-menu" aria-labelledby="act">
                        <a class="dropdown-item Edit" href="/Product/VariantDetail?Id=@item.Id">Details</a>
                        <a class="dropdown-item Edit" href="#" onclick="loadReview('@item.Id')">Show Review</a>
                    </div>
                </div>
            </td>
            <td>
                <img src="@item.Thumbnail" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" alt="Thumbnail" class="img img-fluid" style="width:80px" />
            </td>
            <td>@item.Title</td>
            <td>@item.MRP</td>
            <td>@item.SellingCost</td>
            <td>@item.HSN</td>
            <td>
                <div class="input-group">
                    <label class="form-control">@item.Quantity</label>
                    <div class="input-group-append">
                        <label class="form-control">
                            <a href="#" class="item-quantity" data-variantid="@item.Id" data-qauntity="@item.Quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </label>
                    </div>
                </div>
            </td>
            <td>@item.GTIN</td>
            <td>@item.IsFeatured</td>
            <td>@item.IsShowOnHome</td>
            <td>
                <span class="switch switch-sm">
                    <input type="checkbox" class="switch" onclick="UpdateIspublish('@item.Id')" id="Ispublish_@item.Id" @Html.Raw(item.IsPublished ? "checked='checked'" : "")>
                    <label for="Ispublish_@item.Id"></label>
                </span>
            </td>
            @if (@item.EntryBy == 1 && @item.AdminApproveStatus == StatusType.Confirmed || @item.AdminApproveStatus == StatusType.Rejected)
            {
                <td>@item.AdminApproveStatus</td>
            }
            else
            {
                <td>
                    @if (@item.AdminApproveStatus == StatusType.Confirmed || @item.AdminApproveStatus == StatusType.Rejected)
                    {
                        @item.AdminApproveStatus
                    }
                    else
                    {
                        <a class="icon" onclick="AdminApprovelChangeStatus('@item.Id','@StatusType.Rejected')"><i class="ti-close text-danger" title="Reject"></i></a>
                        <a class="icon" onclick="AdminApprovelChangeStatus('@item.Id','@StatusType.Confirmed')"><i class="ti-check text-success" style="margin-left: 12px;" title="Approve"></i></a>
                    }
                </td>
            }
        </tr>
    }
}
else
{
    <tr>
        <td class="text-danger text-center" colspan="13">Record Not Found</td>
    </tr>
}
<script>
    $('.item-quantity').click(function() {
        const vid = $(this).data('variantid');
        const prevQty = $(this).data('qauntity');
        const html = ` <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">Qauntity</label>
                                      <input type="number" disabled class="form-control" value="${prevQty}" id="txtqauntity">
                                    </div>
                                    <input type="hidden" name="VariantId" value="${vid}">
                                    <div class="form-group col-md-6">
                                      <label for="inputPassword4">Add/Delete</label>
                                      <input type="number" class="form-control" id="txtaddDelete" name="Quantity" placeholder="Add/Delete Qauntity">
                                    </div>
                                 </div>
                                  <div class="form-group">
                                    <label for="inputAddress">Remark</label>

                                    <textarea  id="txtRemark" class="form-control" rows="2" ></textarea>
                                  </div>

                                  <button type="submit"  data-variantid="${vid}" data-addminus="0" class="btn btn-outline-primary addQuantity " id="addQuantity">Add</button>
                                  <button type="submit"  data-variantid="${vid}" data-addminus="1"  class="btn btn-outline-danger addQuantity" id="RemoveQauntity">Reduce</button>
                                  `;
        Q.alert({
            title: 'Add/Delete Qauntity',
            body: html,
            width: 500
        });
    });
    var loadReview = function(Id = 0) {
        $.post('/Report/ReviewReport', { Id }).done((result) => {
            Q.alert({
                title: 'Reviews',
                body: result,
                width: 1200
            });
        })
    };
</script>