@using Data.Models
@using Entities.Enums
@using Service.Models
@model Response<List<MenuItem>>

@if (Model != null && Model.StatusCode == ResponseStatus.Success && Model.Result != null && Model.Result.Any())
{
    var menus = Model.Result;
    @foreach (var item in menus)
    {
        <li class="mega">
            @{
                string href = @item.ChildNode != null && @item.ChildNode.Any() ? "javascript:void(0)" : "/products/category/"+@item.CategoryId;
                string target = @item.ChildNode != null && @item.ChildNode.Any() ? "javascript:void(0)" : "target='_self'";
            }
            <a class="dark-menu-item" @target  href="@href">@item.CategoryName</a>
            @if (@item.ChildNode != null && @item.ChildNode.Any())
            {
                <ul class="mega-menu full-mega-menu ratio_landscape">
                    <li>
                        <div class="container-fluid for-mob">
                            <div class="row">
                                @foreach (var child in @item.ChildNode)
                                {
                                    <div class="col mega-box for-mob">
                                        <div class="link-section">
                                            <div class="menu-title">
                                                <a @target href="/products/category/@child.CategoryId"> <h5><img src="@child.Icon" onerror="this.onerror=null;this.src='/assets/images/noimage.jpg'" style="width:20px; margin:0 10px 0 0;"> @child.CategoryName </h5></a>
                                            </div>
                                            <div class="menu-content">
                                                <ul>
                                                    @foreach (var child2 in child.ChildNode)
                                                    {
                                                        <li>
                                                            <a @target href="/products/category/@child2.CategoryId">@child2.CategoryName</a>
                                                          @*   <ul>
                                                            <li><a target="_blank" href="/products/category/@child2.CategoryId"></a></li>
                                                        </ul>*@
                                                        </li>
                                                       
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                    </li>

                </ul>
            }

        </li>
    }

}
