@model IEnumerable<Entities.Models.Category>

@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var item in Model.OrderByDescending(a => a.CategoryId))        
    {
        i++;
        <tr data-item-id="@item.CategoryId">           
            <td>@i</td>
            <td>@item.CategoryName</td>
            <td>@item.ParentName</td>
            <td>@item.TAXRate</td>
            <td>
                <span class="switch switch-sm">
                <input type="checkbox" class="switch" onclick="UpdateIspublish('@item.CategoryId')" id="Ispublish_@item.CategoryId" @Html.Raw(item.IsPublish ? "checked='checked'" : "")>
                <label for="Ispublish_@item.CategoryId"></label>
            </span>

            </td>
            <td>
               <img src="@item.Icon" class="img-fluid rounded-circle"  style="width:50px" onerror="this.onerror=null;this.src='/image/static/no-image.png'">  
            </td>
            <td><input type="button" value="Edit" onclick="dialog.category('@item.CategoryId')" class="btn btn-sm btn-success"></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">No Data Found</td>
    </tr>
}