@model IEnumerable<Entities.Models.Category>

@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var item in Model)        
    {
        i++;
        <tr>           
            <td>@i</td>
            <td>@item.CategoryName</td>
            <td>@item.ParentName</td>
            <td>@item.TAXRate</td>
            <td>@item.IsPublish</td>
            <td>
               <img src="@item.Icon" class="img-fluid rounded-circle"  style="width:50px" onerror="this.onerror=null;this.src='/image/static/no-image.png'">  
            </td>
            <td><input type="button" value="Edit" onclick="dialog.category('@item.CategoryId')" class="btn btn-sm btn-success"></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">No Data Found</td>
    </tr>
}