@using Entities.Models;
@model IEnumerable<TopLowerBanner>

@if (Model.Any())
{
    int counter = 0;
    foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>
                <div class="card">
                    <div class="valign-wrapper pr12ImgNameDiv">
                    <img src="@item.BannerPath" class="img-fluid rounded-circle"  style="width:100px" onerror="this.onerror=null;this.src='/image/static/no-image.png'">
                    <div class="pr12AuthName fw500 fs18"></div>
                </div>
                </div>                
            </td>
            <td>@item.Title</td>
            <td>@item.Subtitle</td>
            <td>@item.BackLinkText</td>
            <td>@item.BackLinkURL</td>
            <td>
                <input type="button" value="Edit" onclick="AddNewItem('@item.Id')" class="btn btn-sm btn-success">
                <input type="button" value="Delete" onclick="Delete('@item.Id')" class="btn btn-sm btn-danger">
            </td>
        </tr>
    }
}